[2016-06-01 17:34] maniksingh92 opened #1 "TypeScript Project ?"
Hi,
Is there any specific reason for not creating this project in TypeScript?

[2016-06-22 16:06] DAB0mB commented on #1
As for now I wanted to keep it simple because not all people are familiar with javascript. I also want to write a step-by-step tutorial about this repo, and in the future I might write a typescript version of this project. I wanna see how it goes :-)

[2016-06-23 14:34] #1 closed

[2016-07-09 11:52] rollymaduk opened #2 "error trying to load chat page"
Hi, nice work.. I tried to run your app on my windows computer by running ionic serve -l , after installing ionic2, cordova and running npm install, I keep getting this error in my browser debugging console

`EXCEPTION: Error: Uncaught (in promise): EXCEPTION: Error in ./ChatsPage class ChatsPage_Host - inline template:0:0
ORIGINAL EXCEPTION: ReferenceError: check is not defined
ORIGINAL STACKTRAC

[2016-07-16 10:23] DAB0mB commented on #2
This is a bug caused due to the new version of `angular2-meteor` relying on the `check` object to be defined globally. If you will take a look at the `app/app.js` file you will see that I extend the `window` object with some `meteor` packages. This should fix the problem.

[2016-07-16 10:24] #2 closed

[2016-07-16 11:30] rollymaduk commented on #2
thanks I figured but on another note do you know  a way to reset the
default meteor connection dynamically without having to use DDP, that way
angular2_meteor can be used as is. thanks

On Sat, Jul 16, 2016 at 11:23 AM, Eytan Manor <notifications@github.com>
wrote:

--

*RegardsRonald Maduka*

[2016-07-16 11:58] DAB0mB commented on #2
I post an explanation about it [here](https://github.com/DAB0mB/ionic2-meteor-messenger/blob/master/tutorial/step-4.md) in step 4.15. You can also look for instructions in the following [repo](https://github.com/idanwe/meteor-client-side). I should post a detailed tutorial about this repo very soon, as for now it would be great if you can go ahead and spread it :-)

[2016-07-16 13:23] rollymaduk commented on #2
great thanks.. clever work.. will certainly share!

On Sat, Jul 16, 2016 at 12:58 PM, Eytan Manor <notifications@github.com>
wrote:

--

*RegardsRonald Maduka*

[2016-08-09 19:04] adoultremont opened #4 "Connect to deployed meteor server"
Hi,

Thanks for this great tutorial.
Could you explain a little more in details how to connect to the deployed meteor server?

I have created a global object at the top of app.ts

`var __meteor_runtime_config__ = {
  DDP_DEFAULT_CONNECTION_URL: 'api.server.com'
};`

but I cannot establish connection ERR_CONNECTION_REFUSED, tried also

`__meteor_runtime_config__ = {};
__meteor_runtime_config__.DDP_

[2016-08-09 19:10] adoultremont opened #5 "Update of Ionic alert, popover and modal"
Hi,

Thanks for this tutorial. Very cool.

I have encountered a few issues to get until the end. I am not familiar with PR but I share them here this might help someone.

It seems that in the latest Ionic beta, Alert, Modal and Popover have been replaced by AlertController, ModalController and PopoverController, see

[Ionic v2 Docs](http://ionicframework.com/docs/v2/api/components/alert/AlertContr

[2016-08-09 19:16] adoultremont opened #6 "Dependency conflicts between meteor-client-side & accounts-base-client-side"
Hello,

I encountered this dependency problem while following the tutorial:

npm does not satisfy its siblings' peerDependencies requirements

npm install meteor-client-side --save installs the version 1.3.4 of meteor-client-side

npm install accounts-base-client-side and npm install accounts-phone (the NPM version) requires the version
`"meteor-client-side": "~0.2.3"`

I solved it by downloading

[2016-08-11 11:45] naysumyat opened #7 "Example with accounts-password"
Hi,
   thank you so much for the tutorial. it would be so great if you could show me a way to use accounts-password or accounts-facebook  instead of accounts-phone .

[2016-08-24 16:59] themastersoda commented on #4
I have stumbled in this part as well. If someone could show an example of exactly where and how they set their server url it would help a lot.
I've tried to set it in my application www/index.html file like so:
<script>__meteor_runtime_config__.DDP_DEFAULT_CONNECTION_URL = 'my.url:3000';</script>
<script>__meteor_runtime_config__ = {DDP_DEFAULT_CONNECTION_URL: 'my.url:3000'};</script>

None of thi

[2016-09-05 13:33] mmazloum commented on #4
If found something just found something here https://forums.meteor.com/t/develop-and-deploy-server-side-independently-from-client-side-ionic-meteor/21810/10

but couldn't figure out exactly how to make it work

[2016-09-07 21:04] steff1193 opened #9 "ionic serve --> meteor run"
step-1.md says to use "ionic server" to run the application. That is good, since this is a "Ionic CLI" based project/tutorial. But then suddenly step-5.md says to use "meteor run --settings settings.json". Guess this is to give the right settings.json to meteor, but cant you do that using "ionic serve"? If yes, I guess the step-5.md should tell about it.
I have tried with "meteor run --settings se

[2016-09-07 22:09] steff1193 commented on #9
I succeeded starting the application with "meteor run --settings settings.json" from the api folder. But, unlike when I use "ionic serve" and go to http://localhost:8100, I just get a blank page when going to http://localhost:3000.

Page source:
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<script type="text/javascript">__meteor_runtime_config__ = JSON.parse(decodeURIComponent("%7B%22meteorRelea

[2016-09-07 22:27] steff1193 commented on #9
Ahhh, ok I belive I figured it out. You have to run both "meteor run" and "ionic server". I thought meteor would also serve the ionic stuff and/or that ionic would run a meteor. But I guess not?
The tutorial should probably state, for dummies like me, that you have to run both - probably already in step-3.md?

[2016-09-08 20:22] AddoSolutions commented on #6
I believe I have the same issue:

[code]

[2016-09-11 08:46] triasrahman commented on #4
any solution for this?

[2016-09-11 16:47] mmazloum commented on #4
Something that works fine for me :
is to change the url deep inside meter-client-side.min.js inside the node module.

[2016-09-11 16:49] themastersoda commented on #4
Yes, i said that ir works already, but im looking for a cleaner solution

On Sep 11, 2016 19:47, "mmazloum" <notifications@github.com> wrote:

[2016-09-11 16:49] triasrahman commented on #4
really? editing inside `meteor-client-side.bundle.min.js` isn't proper solution.

[2016-09-11 16:50] themastersoda commented on #4
It isnt, but It does the job while there's no better way

On Sep 11, 2016 19:49, "Trias Nur Rahman" <notifications@github.com> wrote:

[2016-09-12 08:06] navi8602 commented on #4
I use a variant of this lesson, and in the assembly of my all works
[https://github.com/Muffasa/ionic2-meteor-starter]

[2016-09-17 04:21] mariohmol commented on #7
Hi there! I'm trying the same.. i just cant make accounts-password to be imported into the project.. I install it using atmosphere.. i made a import on main.js... but meteor keep without password functionality.. could you fix it?

[2016-09-18 18:43] mariohmol commented on #7
Here is a repo trying to making this to work

* https://github.com/mariohmol/ionic2-meteor-messenger

Still having a problem:

[code]

[2016-09-19 03:44] mariohmol commented on #7
all solved..  with accounts-password and latest versions for ionic2 and angular2. There is a module that handles the accouns-password for frontend, here is a full example : https://github.com/mariohmol/ionic2-meteor-messenger-password

[2016-09-27 10:49] mmazloum opened #10 "Image Upload - from ionic2-native Camera / image picker to Meteor"
Hi,

I'm trying to manage image upload, playing with jalik-ufs meteor package, if someone tested it, help would be appreciated, if an easier way exists, advices welcome.

Can't figure out how to install the module.

thanks.

[2016-10-20 08:30] yuyinitos opened #11 "Integration of Ionic and Meteor social (Facebook) authentication"
Great tutorial! It would be interesting to know how to integrate Facebook authentication in this Ionic/Meteor setup (Ionic CLI). My efforts failed, it's kind of tricky.

[2016-10-25 11:43] elpddev opened #12 "No gulpfile in new project to change for webpack"
I think new Ionic projects were change with this:
https://github.com/driftyco/ionic-app-scripts

[2016-11-02 20:21] nikhilcfc opened #13 "Upgrade to RC1"
Could you guys please upgrade to latest Ionic 2 RC,  both the github and the tutorial.

[2016-11-04 17:52] ekhmoi opened #14 "Ionic build ios"
I cloned the step-by-step-new branch
`ionic serve` works fine.
but whenever im trying to run `ionic build ios` or `ionic emulate ios` i get the below error

[code]

[2016-11-05 07:42] dotansimha commented on #14
@ekhmoi I will take a look soon, but note that Ionic is still in beta and the Webpack build is still experimental.

[2016-11-05 07:42] dotansimha commented on #13
Done!

[2016-11-05 07:42] #13 closed

[2016-11-05 07:42] dotansimha commented on #12
No need for Gulp file now, implemented with Webpack only!

[2016-11-05 07:42] #12 closed

[2016-11-05 07:43] dotansimha commented on #9
Please try the latest version, we fixed a lot of issues.

[2016-11-05 07:43] #9 closed

[2016-11-05 07:43] dotansimha commented on #5
Done

[2016-11-05 07:43] #5 closed

[2016-11-05 07:44] dotansimha commented on #6
@idanwe

As a workaround, you can use latest Node, which does not throws an error in case of peer issues

[2016-11-05 07:44] #6 closed

[2016-11-07 10:11] nikhilcfc opened #15 "Not able to run the App"
I deployed the Updated App on Ionic View, the Phone Number page appears, when I give the Phone Number and press Done, it does not do anything.

[2016-11-07 10:18] dotansimha commented on #15
Do you have any errors in the log?

[2016-11-07 10:19] dotansimha commented on #14
Please try to copy the imports in `main.dev.ts` to `main.prod.ts` and try again, I think it might solve this issue.

@ekhmoi

[2016-11-07 10:44] nikhilcfc commented on #15
No errors as such.
Also I was trying to build the app from the scratch, after I add ngOnInit function in Step 3.15, the initial Page load does not happen. No errors in the log.

[2016-11-07 20:08] ekhmoi commented on #14
Hello @dotansimha , i just tried with clean copy of repo. and it didnt work either

[2016-11-07 22:00] nikhilcfc commented on #15
More Info..When Following step by step tutorials. Inside the api directory when I run these 2 commands ::
1) meteor npm install --save meteor-node-stubs zone.js meteor-rxjs meteor-typings
2) meteor npm install --save moment @types/moment

I get this :
UNMET PEER DEPENDENCY rxjs@^5.0.0-beta.12
WARN meteor-rxjs@0.4.3 requires a peer of rxjs@^5.0.0-beta.12 but none was installed

[2016-11-07 22:07] nikhilcfc commented on #15
I can see that this function is not working and pulling any chats.

 ngOnInit() {
    this.chats = Chats
      .find({})
      .mergeMap((chats: Chat[]) =>
        Observable.combineLatest(
          ...chats.map((chat: Chat) =>
            Messages
              .find({chatId: chat._id})
              .startWith(null)
              .map(messages => {
                if (messages) chat.lastMessage

[2016-11-08 19:55] paduchurikowsik opened #17 "ionic build errors"
Hi
Thanks for the tutorials they helped me a lot and i was able integrate meteor in my ionic 2 app, and i was able to deploy the sever to AWS. Every thing is working good when i do 'ionic serve' but when i do 'ionic build' or 'ionic run android' it shows error saying that the

"Cannot find name 'Message' on line ......" [where i used public thisMessage: Message]
but i import from api/model/whatsap

[2016-11-10 09:17] AwsmOli commented on #17
I have the same thing,
It seems that Typscript resolves the whatsapp.model with the `declate module '*'` in `src/declarations.d.ts`  (if you mouse over it in VS Code or user CMD+Click on it it jumps to that file)

If you remove `declare module '*'` VS Code seems to be able to resolve the wright file, and `ionic serve` works fine, but on `ionic run android|ios` ngc failes with:
[code]

I also found

[2016-11-10 10:24] DAB0mB commented on #17
@paduchurikowsik I'm working on a fix right now should be rebased soon

[2016-11-10 11:57] #17 closed

[2016-11-10 11:58] DAB0mB commented on #17
Should be deployed very soon :-)
Basically I turned all private data-members to public, updated webpack config and tsconfig, follow the upcoming changes.

[2016-11-10 13:58] Urigo commented on #14
I've deployed a new version of the tutorial with @DAB0mB changes.
@ekhmoi can you please test it again and see if works now?

[2016-11-10 16:51] ekhmoi commented on #14
I've just checked.
Good News. `ionic build ios` finishes successfully  -  ** BUILD SUCCEEDED **
Bad News when i emulate the build i get blank(white) screen after splash screen with ReferenceError `ReferenceError: Can't find variable: __extends`
![screen shot 2016-11-10 at 8 49 41 pm](https://cloud.githubusercontent.com/assets/11752651/20185937/7d761864-a787-11e6-804e-5d76220d14cc.png)

[2016-11-11 09:21] AwsmOli opened #18 "Uncaught ReferenceError: __extends is not defined when run on device"
Hi,

Im getting an `Uncaught ReferenceError: __extends is not defined` when i try to run this on any device.

So i just cloned this Repo, and ran `npm i` which gave me:

[code]

so i fixed the `package.json` and changed `meteor-client-side`, `rxjs` and `zone.js` to these versions:

[code]

than `npm i `ran fine.

next i ran `ionic serve` - and everything runs like a charm, but wen i try `ionic run

[2016-11-11 10:30] dotansimha commented on #14
Closing this - there is an issue for the `__extends` error: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/18

[2016-11-11 10:30] #14 closed

[2016-11-11 10:30] dotansimha commented on #18
Can you share your `webpack.config.js` file?

[2016-11-11 10:35] AwsmOli commented on #18
Its the one from this repo:

[code]

Literally only did the steps i mentioned :)

[2016-11-11 10:42] dotansimha commented on #18
And did you `npm install typescript-extends` ?

[2016-11-11 10:47] AwsmOli commented on #18
Just tried it, did not help.

[2016-11-11 10:57] ekhmoi commented on #18
+1
The exact same problem

[2016-11-11 17:02] metecantimur commented on #18
The exact same problem

[2016-11-11 19:44] Urigo commented on #18
we are working on it, hopefully will be solved during the weekend

[2016-11-11 19:47] ekhmoi commented on #18
Gracias! :)

[2016-11-11 20:59] nikhilcfc commented on #15
Any updates on this ? I recloned the application and when I run ionic serve, it just does not want to move ahead from the login page, regardless of the phone number I give.

[2016-11-11 23:43] metecantimur commented on #18
# Findings

- Command **ionic build** sets **process.env.IONIC_ENV="prod"** in
**config/webpack.config.js**
in which case the following lines do not execute during the build process:
[code]
which produces the error mentioned by @AwsmOli.

- During the build process, the source file **src/app/main.prod.ts** is compiled however this file seems to be incomplete.

[2016-11-12 14:27] metecantimur commented on #15
Did you run **meteor** when you run **ionic serve**?

[2016-11-13 15:30] Urigo commented on #18
deployed the new fix from @DAB0mB
Please check and made sure it works for you

[2016-11-13 18:09] ekhmoi commented on #18
It Works !
Thank you!!!

[2016-11-13 19:53] AwsmOli commented on #18
It works now, thanks :)

[2016-11-13 20:53] AwsmOli commented on #4
Here is my dirty fix:

i found the method that defaults to localhost:300 in `meteor-client-side.bundle.min.js` just search for `localhost:3000` to find it ;)
[code]

and added the global variable **`__meteor_runtime_config__`** (the one we should set in index) to the `_.defaults` function:

[code]

and now setting the runtimeconfig in index works :)

its still not optimal as every time you update

[2016-11-13 23:06] #18 closed

[2016-11-14 15:32] yuyinitos opened #19 "The modified webpack.config.js doesn't work with the latest @ionic/app-scripts@0.0.43"
The webpack.config.js file of @ionic/app-scripts@0.0.43 has been changed significantly by Ionic and I can't make it work with this repo. I reverted back to @ionic/app-scripts@0.0.39 (with the latest modification from issue #18) and the build process worked fine again.

[2016-11-20 17:18] metecantimur opened #20 "requestPhoneVerification() API function on Android emulator"
I tried to run the application on Android emulator (Nexus_5X, API 23) however, **Accounts.requestPhoneVerification()** API function did not give any response.
Furthermore, the same API function works on iOS emulator as expected.
Should I enable any configuration option on Android emulator?

[2016-11-27 01:47] metecantimur commented on #20
Is there anybody who has the same problem on Android emulator?

[2016-11-27 02:51] metecantimur commented on #20
I have tried to get DDP log messages as follows:

[code]
According to the log messages, it seems that PING & PONG messages are sent between the Android emulator(client) and the server side. However, when it comes to send an RPC message **requestPhoneVerification** then no response is received from the server side.

What would be the cause of this problem? Any ideas?

[2016-11-28 07:50] dotansimha commented on #19
That's correct, Ionic 2 still supports Webpack build only in it's beta version of the app-scripts.
For more information, see [this](https://forum.ionicframework.com/t/help-us-test-webpack-support-in-ionic-2-app-scripts/67507).

At the moment, we still must use `@ionic/app-scripts@beta`.

[2016-11-28 07:50] #19 closed

[2016-11-28 07:51] dotansimha commented on #15
@nikhilcfc I fixed a lot of issues in the last days, please try again and re-open if you still have issues.

[2016-11-28 07:51] #15 closed

[2016-11-28 07:53] dotansimha commented on #4
You need to override it as described in `meteor-client-side` instructions.
Create `__meteor_runtime_config__` on you global scope as object with `DDP_DEFAULT_CONNECTION_URL`:
[code]
Add this before loading `meteor-client-side` in the `main.dev.ts` file.

[2016-11-28 07:53] #4 closed

[2016-11-28 07:54] dotansimha commented on #7
@mariohmol Thanks!

[2016-11-28 07:54] #7 closed

[2016-11-28 07:57] dotansimha commented on #10
@mmazloum, please refer to the instructions in [Socially 2 File Upload](https://angular-meteor.com/tutorials/socially/angular2/files-and-uploadfs) step, it describes how to use `jalik:ufs`.
I recommend you to start with regular images store (without thumbnails, add them later).
The usage from the Ionic client side should be the same.

Please re-open the issue if you still in trouble with this one.

[2016-11-28 07:57] #10 closed

[2016-11-28 07:58] dotansimha commented on #11
The tricky part is to use Meteor packages in the client side, without Meteor.
Did you try https://github.com/mixersoft/accounts-facebook-client-side ?

[2016-11-28 07:59] dotansimha commented on #20
Which emulator did you try?
Also, did you test it in the browser / ios simulator?

[2016-11-28 08:12] themastersoda commented on #4
Did not work, here's how my main.dev.ts looks:

[code]

Without using var it simply doesn't compile, with var it just points out that its an unused variable, but it still tries to connect to localhost.

[code]

[2016-11-28 08:26] dotansimha commented on #4
Without `var`, it should be on the global scope, so add `global.` or without `var`.

[2016-11-28 08:36] themastersoda commented on #4
without var it does not pass the typescript compiler `Cannot find name '__meteor_runtime_config__'`, with global it's the same `Cannot find name 'global'. L1:  global.__meteor_runtime_config__`.

[2016-11-28 08:37] dotansimha commented on #4
Try this:
[code]

[2016-11-28 08:39] themastersoda commented on #4
same `Cannot find name 'global'. L1:  global['__meteor_runtime_co...`. Global is not defined by default, so none of those are going to work i guess.

[2016-11-28 08:48] dotansimha commented on #4
Yeah my bad, it's the client side, so it's must be `window`:
[code]

[2016-11-28 09:00] themastersoda commented on #4
Well this time it compiles without problems, but the package still tries to connect to localhost:
[code]

[2016-11-28 09:06] themastersoda commented on #4
If I move the assignment below `import 'meteor-client-side';`, it get's set, but connection is already being initialized to localhost, so my guess is that the package is not correctly checking for existing variable before setting it's default values

[2016-11-28 09:28] dotansimha commented on #4
@idanwe any idea? with the recent `meteor-client-side` package, just noticed that Meteor overrides the global value:
[code]

[2016-11-28 11:56] idanwe commented on #4
It is now fixed.

There was a problem with the context in the minified version.
idanwe/meteor-client-side#28

[2016-11-28 12:07] themastersoda commented on #4
Can confirm, updating to meteor-client-side@1.3.5 and setting url via
[code]
right before importing meteor-client-side in main.dev.ts is working fine

[2016-11-28 16:45] metecantimur commented on #20
Hi,
I am using the following **Android emulator** on OS X El Capitan Version 10.11.6.

## ANDROID EMULATOR TEST

I have inserted the following debug code into **app.components.ts** file:
[code]

First I ran the server (Meteor) side on an independent console CLI as follows:

`npm start`

Then I run the code with the following CLI command:

`ionic run android -lc`

<img width="337" alt="screen shot

[2016-11-29 14:07] gotu opened #21 "autoScroller does not work"
https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/src/pages/messages/messages.ts#L84

[code]
this does not work. I'm new to RxJS and the meteor-rxjs layer, so I can't tell what is going on here now.
As I see it, there is no bug in setting the scrollTop itself, it' the right dom element. But it (the handler) does not get called (or not in the right context or maybe zone) as it should o

[2016-12-01 13:57] metecantimur commented on #20
Any comments?

[2016-12-01 19:56] DeeM297 opened #22 "App is Launched but can't pass the phone validation stage"
Hi,

Just found about meteor through the ionic blog. It's a great tutorial and it's exciting to see what's possible to do. Thanks for sharing!

I'm trying to run the app and have done the following:
1) Launching the server from api folder with this command `meteor`
2) Launching the client from project root `ionic serve`

Both are launched and getting this messages on the cmd prompt
1) _App running

[2016-12-01 20:41] metecantimur commented on #22
Hi,
Your case seems to be same as mine #20

[2016-12-01 22:00] DeeM297 commented on #22
I think it could be the same problem. I am on Windows so can't try on an iOS emulator.

I tried to bypass phone and code verification validation but then I end up with the same 404 problem with later screens.

[2016-12-02 06:58] nikhilcfc commented on #22
Same Issue for me as well.

[2016-12-02 08:13] DeeM297 commented on #22
When I launch meteor from the api folder, I am getting this output

[code]

[2016-12-02 16:14] DAB0mB commented on #20
@metecantimur If you will run the project on a typical mobile device, you might encounter some complications regarding server communication, and the reason is simple. The `localhost` of your device is not the same your server's `localhost`. It depends how the emulator virtualizes the device's OS but it seems as if the OSx emulator does a better job. I would have tried connecting to server's IP add

[2016-12-02 16:24] DAB0mB commented on #22
@DeeM297 Based on your recent comment, it seems as if you have type declarations missing. Try running the following:

    $ npm install meteor-typings --save-dev

**Don't forget to import them as well!** otherwise it won't work...
Declarations are Typescript's way to ensure the right data-types so its compiler can work properly. More information can be found here: https://www.typescriptlang.org/do

[2016-12-02 16:28] DAB0mB commented on #22
In addition, try this solution https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/20#issuecomment-264492599
But I recommend you to first solve the first one so you can be sure what's the cause for your issue.

[2016-12-02 17:22] DeeM297 commented on #22
@DAB0mB Thanks for your reply.

I've installed the typings. They're already included in the project in the file typing.d.ts in api folder:
[code]
https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/api/typings.d.ts

It didn't change the output. Having the same messages.

[2016-12-02 19:47] DAB0mB commented on #22
@DeeM297 Yea I see, I haven't looked at this repo for quiet a bit now and it changed a little, the typings are not installed correctly. Let me fix that and update it asap and I will let you know when it's done, then we can go further with the issue.

[2016-12-03 00:16] DAB0mB commented on #22
@DeeM297 I just updated the tutorial it's on the master branch. Re-clone it, `npm install` it, and run it, tell me if it works for you now. I have no typing errors what so ever.

[2016-12-03 00:53] DeeM297 commented on #22
Thanks @DAB0mB

So this is what I have done:
1) Git clone the project

2) On the root project: `meteor npm install`
Output: getting one error `UNMET PEER DEPENDENCY meteor-client-side@1.3.5`
When I try `npm install --save meteor-client-side@1.3.5`, it fails with this message `npm WARN accounts-phone@0.0.1 requires a peer of meteor-client-side@~0.2.3 but none was installed.`
This is resolved by doi

[2016-12-03 01:19] DAB0mB commented on #22
@DeeM297 For me it runs perfect and it probably has to do something with the fact that your'e using Windows and not a Unix based OS. My suggestion is that the issue occurs because Windows doesn't support a symbolic link operation. We will need to find an alternative. I would have replaced the `node_modules` dir in the `api` dir with a shortcut referencing to the project's root `node_modules` dir (

[2016-12-03 10:47] DeeM297 commented on #22
@DAB0mB I placed the _node_modules_ shortcut from root to the api folder but it had no effect. I'm getting the same message when I run meteor :(

[2016-12-03 12:58] mmazloum commented on #22
@DeeM297 based on meteor client side your server should run on port 3000 and your app on port 8100 it seems that your configuration is different when you say :
App running at: http://localhost:3000/
Running dev server: http://localhost:8100

I used to have the same compilation "errors" but still my apps work, I think the app stills finds the packages after it is built so your signin problem should

[2016-12-03 14:28] metecantimur commented on #20
@DAB0mB Thank you for your reply. I am using the wifi interface on my development environment  (MAC computer) with the IP address **192.168.0.100**

Accordingly, I have inserted the following code into **main.dev.ts** file as follows:

[code]

However, nothing has changed on Android Emulator while on iOS emulator everything is okay as usual.

I am afraid; I have not fully understood what did you m

[2016-12-03 15:22] DeeM297 commented on #22
I am trying to do the tutorial, step by step. I am on Step 3 at the moment, I had some problem with both meteor and ionic but it's working right now (end of step 3).

On ionic side, `.config/webpack.config.js` is not compatible with `"@ionic/app-scripts": "0.0.45"`. I tried to figure it out but not working. So, I changed app-scripts to 0.0.37-5 and it is working right now but I am getting this out

[2016-12-03 15:29] DeeM297 commented on #22
@mmazloum I have tried to launch on port 3000 with `ionic serve -p 3000` but it didn't have any effect.

[2016-12-03 21:56] DAB0mB commented on #22
@DeeM297 No no this is not the problem, you run it locally right? You don't run it on a mobile device or some sort? I think if you can find an alternative to a symbolic link on a Windows machine that would be the solution, rather than just creating a shortcut as I suggested in my recent post.

[2016-12-03 22:03] DAB0mB commented on #20
@metecantimur You didn't do it right because as I said the configuration needs to be defined on the `window` **before** `meteor-client-side` is imported. And even if you write something like this:

[code]

Is not good enough because once it's transpiled it will actually look something like this:

[code]

You need to config `webpack` correctly (Not yet sure how) inorder for it to work properly. I w

[2016-12-03 23:31] metecantimur commented on #20
@DAB0mB You are right. Placing the following code in the **head** section of **index.html** file solved the problem; nothing else is needed 👍

[code]

[2016-12-04 00:57] DAB0mB commented on #20
@metecantimur Great! Yea I assumed this was the cause for the issue... However, adding a `<script />` tag seems like a workaround, I'd rather use the bundling system instead. I will leave this issue open for now, until I update the tutorial accordingly, so it will never happen  to anyone again

[2016-12-04 01:34] DeeM297 commented on #22
@DAB0mB Yes I am running this locally with `ionic serve`

I am following the tutorial and things were working up to the end of step 4. I am stuck at the Authentication stage.

**First Issue**
When I did `npm install accounts-phone --save`, I got a dependency error message
``-- UNMET PEER DEPENDENCY meteor-client-side@1.3.5`
By doing `npm install --save meteor-client-side@1.3.5`, I get
`npm WARN ac

[2016-12-06 13:11] msio777 commented on #4
unfortunately it isn't working by me
my main.dev.ts:

[code]

client is still connecting to localhost:3000

my enviroment:
[code]

I appreciate any help
thanks :)

[2016-12-06 13:21] idanwe commented on #4
@msio777 can you confirm that meteor-client-side version is 1.3.5?

[2016-12-06 13:32] msio777 commented on #4
this is the package.json under meteor-client-side in my node_modules

[code]

[2016-12-06 14:15] metecantimur commented on #4
Please see #20

[2016-12-14 23:11] DAB0mB commented on #21
@gotu Thank you for submitting this issue. I just fixed it, as can be seen here: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/manuals/views/step4.md. The problem was that we used an observable instead of a mutation observer. The names might sound similar, but their roles are completely different. I'm closing this issue, and I will make sure to update the Meteor CLI version as wel

[2016-12-14 23:11] #21 closed

[2016-12-16 07:46] themastersoda opened #26 "Update webpack config for Ionic 2 RC4"
Ionic 2  RC4 has a new webpack config file, which is quite different from the current one used in tutorial. Could you provide an example of what it should look like for RC4?

[2016-12-21 03:52] shadowzick opened #27 "Not able to run the application"
When I run meteor on the api directory:

server/methods.ts (1, 24): Cannot find module 'meteor/meteor'.
server/methods.ts (3, 30): Cannot find module 'meteor/check'.
server/publications.ts (1, 24): Cannot find module 'meteor/meteor'.
server/publications.ts (2, 23): Cannot find module 'meteor/mongo'.
server/main.ts (1, 24): Cannot find module 'meteor/meteor'.
server/main.ts (4, 26): Cannot find mod

[2016-12-23 22:18] DAB0mB commented on #26
I've just updated the tutorial on the master branch! Go check that out :-D

[2016-12-23 22:18] #26 closed

[2016-12-23 22:21] DAB0mB commented on #27
@shadowzick I've just updated the tutorial and fix plenty of stuff which were malfunctioning. Can you please try and run it again from the step where you left off?

[2016-12-27 08:01] shadowzick commented on #27
hi @DAB0mB, when I try to clone the latest master branch i'm getting these errors:

Running meteor on /api:
![image](https://cloud.githubusercontent.com/assets/5059523/21494603/9f97ad5a-cc4d-11e6-82bf-dc43e70ac88d.png)

Running ionic serve after npm install on the root:

![image](https://cloud.githubusercontent.com/assets/5059523/21494600/99c4b85a-cc4d-11e6-9a4e-50c4615dcf5e.png)

[2016-12-27 10:02] DAB0mB commented on #27
@shadowzick Are you using Windows OS? The `declarations.d.ts` file shown in the error dialogue is actually a symbolic link created in Linux OS using the `ln` command, which doesn't seem to be recognized in your case. I would have tried replacing the file I just mentioned with a symbolic link created by Windows, here's a detailed article which explains it: http://www.howtogeek.com/howto/16226/compl

[2016-12-27 13:47] shadowzick commented on #27
@DAB0mB Thanks, It worked! But after that I got these errors:

![image](https://cloud.githubusercontent.com/assets/5059523/21500841/ea3323d2-cc7d-11e6-889d-83209112f854.png)

[2016-12-27 19:54] DAB0mB commented on #27
@shadowzick Cool! We're getting there. I guess the application fails because the build process fails as well, so if we will solve the build process we will also make the application work. Assuming that the Ionic server is running, make sure that you're using `typescript@2.0.9`. If you do use it, try removing one of `@types/meteor` or `meteor-typings` from the `declarations.d.ts` file. Please tell

[2016-12-28 02:55] shadowzick commented on #27
@DAB0mB I tried removing one of `@types/meteor` and `meteor-typings` on declarations.d.ts but it just produces another error after that.

When I remove meteor-typings:

![image](https://cloud.githubusercontent.com/assets/5059523/21512726/6110e49a-cceb-11e6-9479-f6e9c22083c9.png)

When I remove one of the @types/meteor:
![image](https://cloud.githubusercontent.com/assets/5059523/21512822/20af30fe-c

[2017-01-09 22:15] hackSlanger opened #30 "Error in messages"
this is the error which i received in chatspage.ts. its releated to messages.
[code]

Also one more error is there in : C:/Users/BhatRitesh/Desktop/myProjects/whatsapp/api/declarations.d.ts
here it is showing error like this..
`../src/declarations.d.ts`

please solve bith these issues asap...i really want o complete this tut.
images conatins the image which i get on ionic serve
![screenshot 120](h

[2017-01-16 19:26] Josue-IT opened #33 "Cannot read property 'Accounts' of undefined"
I have the error on the title and I'm taking days trying to resolve it.

I did the tutorial step by step ( The web tutorial. There are some differences with the video tutorial )

If I click the error, the debugger take me to the line 1546 of the file accounts-phone.bundle.min.js that says:
var Accounts = Package["accounts-base"].Accounts;

I have all meteor adds and npm installs which appear in th

[2017-01-16 19:53] Josue-IT commented on #33
When I execute **npm install --save accounts-base-client-side** the cmd says:

+-- UNMET PEER DEPENDENCY meteor-client-side@1.3.5
`-- UNMET PEER DEPENDENCY rxjs@5.0.0-beta.12

And when I execute npm **install --save accounts-base-client-side** the cmd say me the same error.

[2017-01-16 20:19] Josue-IT commented on #33
I saw this solution: [Solution](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/18)

But I think that I don't uderstand this solution or this solution doesn't work for me.

[2017-01-18 12:47] themastersoda opened #34 "Application not working in production mode"
Hey, thanks for the tutorial! Everything's been working just fine while developing my application, however, when i decided to build it in production mode (for AOT compiling and other stuff), it always fails with error while building:

[code]

Here's how my main.ts looks:

[code]

Don't mind the tracker.autorun part - i'm using older version of angular2-meteor, but that is not related to the issue.

[2017-01-18 17:16] mmazloum opened #35 "Remote Connection Question"
Hi,

Everything works fine when I stick to the tutorial, but what If I try to connect to a remote server ?
I've added this in my code :  In index.html I changed the DDP url

But in the chats page inside this piece of code :
`      .mergeMap((chats: Chat[]) => {
          console.log('hello', chats);
          Observable.combineLatest(
            ...chats.map((chat: Chat) =>
              Messages

[2017-01-20 09:55] mmazloum commented on #35
Could this be caused by a difference between Meteor server and client versions ? (one is 1.4.1 and the other is 1.4.2)

[2017-01-20 15:53] rmed19 opened #38 "Untyped function calls may not accept type arguments."
Hi,
I'm at 4 part of tutorial : Messages Page
And I got this error : [https://nimbus.everhelper.me/client/notes/share/732505/7nt7pzk8b9h64bhsahvv](screenshot)

[2017-01-22 21:04] dotansimha opened #40 "New tutorial"
@Urigo  @DAB0mB

Still missing (this is the order of work):
- [ ] Implement steps
- [ ] Add `tslint` and fix all lint errors
- [ ] Try to simplify things
- [ ] Split to commits
- [ ] Check everything works
- [ ] Write instructions
- [ ] Review all by Dotan
- [ ] Review all by Eytan
- [ ] Review all by Uri
- [ ] Merge to `master` (and remove the `merge/...` branch)
- [ ] Deploy website with new tut

[2017-01-22 23:50] Urigo commented on #40
@dotansimha @DAB0mB did you add tests for most steps?

[2017-01-23 00:13] DAB0mB commented on #40
@Urigo Not yet. We were innovating the project and the architecture and API were constantly, and only recently few services and directives came in, therefore BDD was off the table. Certainly it we should add it to the mile stone. We also need to upload `meteor-client` and `@types/meteor-collection-hooks`.

[2017-01-24 11:03] gotu commented on #34
Apparently this is an Ionic issue: https://github.com/driftyco/ionic-app-scripts/issues/594

[2017-01-25 05:31] johnsonc commented on #40
@dotansimha @Urigo : Hi, Will the Socially app which now resides as a branch here as well be documented? Would have really loved to try that out.. Visited its tutorial page 5 times and no updates!
Will you guys be ever covering it?? If yes then Yay!!

[2017-01-25 07:42] Urigo commented on #40
@johnsonc we are merging all the chapters into one single, great tutorial.
It will cover everything and will also be easier for us to maintain.
We will release that very soon

[2017-01-25 09:06] johnsonc commented on #40
Thank you very much!

On 25-Jan-2017 1:12 PM, "Uri Goldshtein" <notifications@github.com> wrote:

[2017-01-25 14:54] AndyDorman commented on #40
I am currently finishing up the exiting whatsapp tutorial as a great learning tool for Ionic2, Angular2 and Typescript (and Mongo...I am a long-time SQL person). After I finish I plan to do it again with your revised and improved tutorial.  Thanks for adding unit tests for the new version. As an enterprise developer (in other languages) I am a big believer that automated testing can keep you out o

[2017-01-26 16:53] dotansimha commented on #11
@yuyinitos I am closing at the moment. I the new tutorial we are using meteor packages in a different way, which allows you to use Meteor's client side bundle instead of pre-built package.

[2017-01-26 16:53] #11 closed

[2017-01-26 16:56] #20 closed

[2017-01-26 22:11] gianpaj commented on #40
don't forget adding screenshots along the way. it really helps understanding what you're getting into and what will be the output at the end 😄

[2017-01-27 02:15] DAB0mB commented on #40
@gianpaj We will, we're right now working on writing some quality manuals, and once we finished we will take some pictures. There's a lot to look forward to!

[2017-01-30 01:43] metecantimur commented on #20
@DAB0mB, this issue has been closed but I think the tutorials have not been updated accordingly.

[2017-01-30 01:48] DAB0mB commented on #20
@metecantimur We're about to release a new tutorial very soon,with updated instructions and some extra features, and we already took care of this issue in specific. Stay tuned ;-)

[2017-01-31 19:02] msio777 opened #43 "Cannot find module "meteor-client""
I pulled right know the newest version but I got `Cannot find module "meteor-client"`
Did I miss something ?
thank you
Best Regards
Michal

[2017-01-31 22:44] AndyDorman commented on #33
I have run into the same error in step 5 after starting "meteor run --settings private/settings.json" in the /api directory and "ionic server" in the root.
In the browser I get this on the page display:
Runtime Error
Cannot read property 'Accounts' of undefined
And this in the browser console log:
Uncaught TypeError: Cannot read property 'Accounts' of undefined in accounts-phone.bundle.min.js.

If

[2017-01-31 22:59] DAB0mB commented on #43
@msio777 You need to install `meteor-client-bundler`, run `npm run meteor-client:bundle`, and only then run `ionic serve`. The `meteor-client-bundler` bundles the client required to operate with the `Meteor` server. More details can be found here: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/manuals/views/step4.md#preparing-the-meteor-client

[2017-01-31 23:06] msio777 commented on #43
Thanks a lot. I didn't see that before in the tutorial :)

[2017-01-31 23:07] DAB0mB commented on #33
@AndyDorman We've just had a big update, and we fixed lots of stuff. From now on, we will keep all the previous versions of our tutorials in tags so nothing is lost. Can you please test it out and tell if it works?

[2017-01-31 23:12] DAB0mB commented on #43
No problem. It's a new package we decided to develop so we can use Atmosphere packages.

[2017-01-31 23:12] #43 closed

[2017-01-31 23:22] msio777 opened #44 "Error: Module version mismatch. Expected 46, got 48."
Hi,
If I run `npm run api` , I got this error on meteor
`Error: Module version mismatch. Expected 46, got 48.`

Thanks
Beste Regards
Michal

[2017-02-01 00:10] DAB0mB commented on #44
Remove `sharp`:

    $ rm -rf node_modules/sharp

Install `sharp` using `Meteor`:

    $ meteor npm install sharp

**Not** like so:

    $ npm install sharp

Further explanation can be found here: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/manuals/views/step12.md#server-side
Please tell me if it did the trick for you.

[2017-02-01 04:27] AndyDorman commented on #33
On 01/31/2017 05:07 PM, Eytan Manor wrote:

I will give it a start in the morning and let you know how it goes.

Thank you for all your hard work.

--
Andy Dorman
Ironic Design, Inc.
AnteSpam.com

[2017-02-01 09:47] msio777 commented on #44
Thanks it works. I like the folder architecture you did but I think it would be little bit clearer if client and meteor have own node_modules it means probably 2 package.json files. I did it that way in my project but I did not share code between client and api. I have to say that some stuff would be better  if I could use in both

[2017-02-01 21:05] AndyDorman commented on #33
Thank you. I have restarted the process from step 1 with a clean install and I have one question that may be my fault or is a side-issue (workstation is debian Nodejs v7.4.0 with npm 4.1.2).
When I run "sudo npm install -g ionic cordova" (I have to sudo due to permissions issues) I get these warnings:

I would love to get rid of these warnings, but doing "sudo npm install -g minimatch uuid" instal

[2017-02-01 21:20] AndyDorman commented on #40
a tiny bit of feedback as I step through the updated whatsapp+socially tutorial:

step 1.2 copying the webpack.js file it says "We will copy it to a newly created config dir using the following command:"  However, from looking at the repository and the command it looks like webpack.js is copied to the app root directory.

[2017-02-02 10:53] galmoc opened #45 "spawnSync meteor ENOENT"
Hello

I've used Meteor before plugged with Unity but I'm new to ionic 2 and Angular 2 and wanted to thank you for the great tutorial.

When I install `meteor-client-bundler` I then try to run `npm run meteor-client:bundle` after updating 'package.json' but I get this error I can't figure out. Could you please help?

    at exports._errnoException (util.js:1022:11)
    at spawnSync (child_process.

[2017-02-03 05:53] Slavrix commented on #45
https://github.com/Urigo/meteor-client-bundler/issues/1#issuecomment-276835143

There is a issue relating to this on the bundler's page itself.
its being worked on.

[2017-02-03 05:58] Slavrix commented on #45
I just tested the changes and they seem to be working for me now.
get the latest version of the https://github.com/Urigo/meteor-client-bundler and give it another go.

[2017-02-03 11:12] galmoc commented on #45
Indeed! Thanks @Slavrix

[2017-02-03 11:12] #45 closed

[2017-02-04 17:47] kilaka opened #49 "Error: TS2339:Property 'platform' does not exist on type 'NewLocationMessageComponent'"
Getting error on file location-message.ts line 47:
TS2339:Property 'platform' does not exist on type 'NewLocationMessageComponent'

In revision 610f50c (latest as of now) but on previous revisions as well.

Browser shows the error as well when navigating to http://localhost:8100/.

Hope I helped a bit.

[2017-02-04 23:56] DAB0mB commented on #49
@kilaka Your'e right, I just fixed it. See https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/manuals/views/step11.md#added-srcpagesmessageslocation-messagets

[2017-02-04 23:56] #49 closed

[2017-02-04 23:56] #44 closed

[2017-02-05 11:54] IvanLjubicic opened #50 "cannot start meteor from api directory, Windows OS"
Hi.

I have a problem running "meteor" from /api directory.

![image](https://cloud.githubusercontent.com/assets/7691472/22625931/f0a04eb4-eba1-11e6-9226-71213c079432.png)

![image](https://cloud.githubusercontent.com/assets/7691472/22625937/fd53b1b4-eba1-11e6-8093-091ac7fb6b1e.png)

I believe that it is certain problem with sharp and node-gyp versions. I tried various things, didn't helped.
I don

[2017-02-05 19:15] kilaka opened #51 "How to skip the tutorial and just run the project?"
Hi.
I prefer seeing raw code instead of doing tutorials (hopefully the code is human readable).
Is there a way to run the latest code that is on master?
What commands do I need to run?

My tries:
1. Tried `ionic serve`. Caused "ionic-app-scripts: not found". `sudo npm install` solved it. Got few `UNMET PEER DEPENDENCY`:
- UNMET PEER DEPENDENCY rxjs@5.0.0-beta.12
- UNMET PEER DEPENDENCY @angular/co

[2017-02-05 19:27] DAB0mB commented on #51
@kilaka Your request is legitimate. Please run the following commands in series:

    $ meteor npm install sharp
    $ npm install
    $ npm run meteor-client:bundle
    $ ionic serve

Please tell me if it works. We will update the `README.md` to include these instructions.

[2017-02-05 19:55] kilaka commented on #51
After running `npm install`, still got the 3 `UNMET PEER DEPENDENCY`.
Running `npm run meteor-client:bundle` failed as well with the error `meteor-client: not found`.

[2017-02-05 20:07] DAB0mB commented on #51
@kilaka Make sure you have `meteor-client-bundler` installed first:

    $ npm install -g meteor-client-bundler

Regards the unment dependencies, it won't be solved until the package composers will update their dependencies as well, and in the meantime there's nothing we can really do about it.

[2017-02-05 20:36] kilaka commented on #51
Thanks! I see the app!!!
I ran `npm install -g meteor-client-bundler` (without the `-g`). Then `ionic serve`.
On the first view (login), I get several ERR_CONNECTION_REFUSED errors when app is trying to access `http://localhost:3000/sockjs/info?cb=yzix4ut0z3` (different `cb` each time).
Stack trace ends with polyfills.js.
Not sue what I'm doing wrong. The server is on port 8100. Don't understand w

[2017-02-05 21:03] DAB0mB commented on #51
@kilaka It's OK, it's a good thing we go through this process so after we can right a quick start manual so everyone can enjoy it. You also need to run the meteor server on another process using the following command:

    $ npm run api

This will start the server on port 3000, one server is used to serve public assets, and the other is responsible for manipulating and serving data-models.

[2017-02-06 01:58] DAB0mB commented on #51
Please tell me if everything went well so I know if I can close this issue

[2017-02-06 05:46] kilaka commented on #51
Ran `npm run api` and server has indeed started.
What happens now is that the Login page continuously refreshes/reloads.
Strange.
I see a loop of calls to `ws://localhost:35729/livereload` and `ttp://localhost:8100/` in the network view of chrome dev tools.

[2017-02-06 07:58] kilaka commented on #51
Tried incognito just in case. Same reload/refresh :(

[2017-02-06 14:52] DAB0mB commented on #51
@kilaka I've just released a new version of `meteor-client-bundler`, can you please re-install it, run `meteor-client:bundle` again, and tell me if it works now?

[2017-02-06 19:11] kilaka commented on #51
Still the constant refresh/reload.

[2017-02-06 22:28] DAB0mB commented on #51
@kilaka I can't seem to experience that issue, I will try to figure this out and help you, but if you manage to solve it, do tell. Thanks :-)

[2017-02-09 11:00] sebastianquack commented on #51
Hi @DAB0mB @kilaka - I got the completed tutorial code to run without `UNMET PEER DEPENDENCY` by setting versions of `meteor-rxjs` to 0.4.6 and `angular2-google-maps` and 0.16.0 in `package.json`. Otherwise follows setps outlined by @DAB0mB - great work!

[2017-02-09 17:04] DAB0mB commented on #51
@sebastianquack Great feedback! I will update the dependencies version then :-)

[2017-02-09 18:56] AndyDorman opened #53 "Problem in new tutorial, apparently meteor-client:bundle is not adding new modules."
At the end of the step 7 of the new tutorial, I tried to run the app as follows (FWIW, I am not sure how to use the "api" script added in step 7.3)

[code]
Aside from the meteor message below, everything starts a looks fine on the CLI
[code]

However, when I open a browser window to "localhost:8100" I get the following ionic error report:
[code]
I have confirmed I installed accounts-base on the se

[2017-02-09 19:18] DAB0mB commented on #53
@AndyDorman You're probably looking on the tutorial presented on the angular-meteor.com website, which is not fully updated. If you will look at step 4 over [here](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/manuals/views/step4.md), you'll see that there is no need to define a config anymore, only reference the source Meteor project. Please let me know if it did the trick for yo

[2017-02-09 20:34] AndyDorman commented on #53
On 02/09/2017 01:18 PM, Eytan Manor wrote:

Hi Eytan.  Thanks for your response.

I did indeed start using the web site for the first couple of steps
before I realized it was not yet updated to what was in github.  But I
switched to github and cross-checked the earlier steps before I got to
step 4.  FWIW, I was also referring to step 4 on github when I posted
this issue.

I am guessing, but since

[2017-02-09 20:43] fernandoarevalo commented on #51
I think that is not the correct place to post this.

[2017-02-10 03:12] AndyDorman commented on #53
So apparently I do not understand what was suggested with "there is no need to define a config anymore, only reference the source Meteor project."
I tried removing the config file "meteor-client.config.json" and then running "npm run meteor-client:bundle" to update it and import accounts-base.  I got this: "Error: Cannot find module '.../whatsapp/meteor-client.config.json'".

[2017-02-10 03:26] AndyDorman commented on #53
Of course the alternative did not work either.  I updated meteor-client.config.json to import accounts-base and mys:accounts-phone as shown here:
[code]
And it did not work.  I still see this error when I go to http://localhost:8100

[code]
This seems to indicate to me that accounts-base is not being added to the client bundle, but I have not figured out how to do that.

[2017-02-10 03:59] AndyDorman commented on #53
Well, I tried one more thing...since meteor-client:bundle will not run without a config file, I kept "meteor-client.config.json", but I added a --source option to the command in the hope that the program would check what was installed in the server (which would include accounts-base) and use that as the list of modules to include in the client bundle.  So I ran the command with the "--source" opti

[2017-02-10 13:31] AndyDorman commented on #53
So, it appears that meteor-client:bundle is not actually adding new server modules to the project's ./node_modules/meteor-client.js file.  It is re-writing the file, but it never picks up the new modules like "account-base" or "npm-bcrypt".
I first confirmed the new modules had indeed been added by running `api$ meteor list`
[code]

After confirming the new modules are there, I tried running meteo

[2017-02-10 13:49] AndyDorman commented on #53
If someone can confirm this actually is a problem with meteor-client:bundle (since I may be terribly confused and looking in the wrong direction), I will be happy to open an error issue in that module in github.

[2017-02-11 04:04] AndyDorman commented on #53
I may have just found a short-term way around this issue, or something has been changed that fixed it...not sure.  But if it was a code change somewhere, thank you.  :-)

FWIW, I just reviewed the steps on github and found something that I missed in step 4.17 where the meteor-client:bundle script is defined in package.json with the source set to use the meteor app installed in the api directory.
`

[2017-02-11 17:28] IvanLjubicic commented on #51
Guys, how did you manage to install sharp if Meteor runs 32-bit version of Node?
Last version of sharp with 32bit on Windows is 0.11.4
https://github.com/lovell/sharp/issues/341
tnx

[2017-02-12 09:36] IvanLjubicic commented on #50
You can close this now, I solved it by installing older version of sharp.

[2017-02-12 17:37] #50 closed

[2017-02-12 20:49] biomassives opened #54 "on latest build: Runtime Error Cannot find module "meteor-client""
Hi Urigo and others who have helped create this great tutorial and app

I'm going round and round trying to meet dependencies with the latest code.

in ~/meteor/Ionic2CLI-Meteor-WhatsApp
dev server running: http://localhost:8100/

├── UNMET PEER DEPENDENCY @angular/common@2.2.1
├── UNMET PEER DEPENDENCY @angular/core@2.2.1
├── meteor-rxjs@0.4.7
├── UNMET PEER DEPENDENCY rxjs@5.0.0-beta.12
└── shar

[2017-02-12 20:52] biomassives commented on #54
i think i resolve the rxjs , angular-common, and angular-core dependency issue.. this was my most recent attempt.. ( since :8018 is breaking on meteor-client)

Gregs-iMac% meteor npm install --save meteor-client
ionic-hello-world@ /Users/greg/dev/meteor/Ionic2CLI-Meteor-WhatsApp
├── UNMET PEER DEPENDENCY @angular/common@2.2.1
├── UNMET PEER DEPENDENCY @angular/core@2.2.1
├─┬ meteor-client@1.3.1
│

[2017-02-12 21:03] biomassives commented on #54
ref:  Gregs-iMac% meteor npm install -g --save meteor-client
/Users/greg/.meteor/packages/meteor-tool/.1.4.2_6.tnur8y++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/lib
└── meteor-client@1.3.1

Gregs-iMac% npm run meteor-client:bundle

sh: meteor-client: command not found

npm ERR! Darwin 16.4.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "meteor-client:bundl

[2017-02-13 08:41] gotu commented on #34
This is fixed in ionic/app-scripts 1.1.0 https://github.com/driftyco/ionic-app-scripts/releases/tag/v1.1.0

[2017-02-13 08:50] themastersoda commented on #34
Yes, it is finally working. Thanks for notifying :)

[2017-02-13 08:50] #34 closed

[2017-02-13 10:48] msio777 opened #55 "ionic sass variable: Undefined variable: "$item-ios-paragraph-text-color""
Hi,
I'm using tsconfig.json config and webpack of this project and I want to use ionic sass variable in one of my pages. I get  after runnning ionic serve: `Undefined variable "$..."`.  is there problem with some tsconfig property ?

Thanks for any help

[2017-02-13 12:01] gotu commented on #54
According to https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/manuals/views/step4.md#preparing-the-meteor-client

you should install "meteor-client-bundler" and use it to build your "meteor-client" bundle

[2017-02-14 09:15] gotu opened #56 "prod build fails"
App works in dev environment:

git clone https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp.git
cd Ionic2CLI-Meteor-WhatsApp/
meteor npm install sharp
npm install
npm run meteor-client:bundle
npm run api
ionic serve

is fine, everything works..

But there are issues with the build for production:

npm run build --prod

[code]

[2017-02-15 07:51] Slavrix commented on #55
have you imported the ionic variables correctly into the file that you are trying to edit the value from ?

[2017-02-15 09:12] gotu opened #58 "prod build path mapping in ngc step fails"
This configuration:

https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/manuals/views/step1.md#changed-tsconfigjson-1

So usage of Typescripts path mapping is not compatible with ionic app scripts, see:

https://github.com/driftyco/ionic-app-scripts/pull/126

[2017-02-15 15:54] msio777 commented on #55
I don't get it, It's working right konw and I didn't change anything :-) thanks for the answer

[2017-02-15 16:56] DAB0mB commented on #55
@msio777 I'm glad the problem is solved. It can happen that problems "magically" solve themselves and it is something developers share in common from time to time. I'm closing this issue.

[2017-02-15 16:56] #55 closed

[2017-02-16 12:42] msio777 opened #60 "Push Notifications with One Signal"
Hi,
I'm planning to implement  for my chat push notifications with  [one signal](https://ionicframework.com/docs/v2/native/onesignal/) but I don't unterstand exactly how to do it efficiently. If app is in foreground, client is subscribed for new messages although server pushes notifications to the client. it doesn't matter because client is subscribed and new messages arrive anyway. But if app is

[2017-02-18 11:17] MartiniHenry1988 opened #62 "White blank screen stays for 5 seconds on mobile devices android/ios"
I have implemented this tutorial successfully. It runs perfect on browser. Now I build this application for android/ios. But when I launch the app on mobile it shows a while blank screen for 5 seconds after the cordova splash screen, and then the main app login screen appears. I want to know if this is some bug or this app is so heavy that its taking the loading time? Or else is there anyway i can

[2017-02-19 18:38] TarunKala opened #63 "angular 2 meteor 'whatsapp' clone is not working at step '4. Realtime Meteor Server ' -- 404 error with http://localhost:3000/sockjs/info....."
Hi,

 i have fallowed the steps as in https://angular-meteor.com/tutorials/whatsapp2/ionic/meteor-server-side.

but after setting up realtime meteor server with mongo DB data is not loading and,
Console shows the following error(which is continuously hitting):

_

_

im running the ionic server on port 3000 which will be same for meteor(api)

Any idea whats the reason for this issue

![meteorbug](

[2017-02-21 01:25] Slavrix commented on #40
Hey, just seeing if there is any ETA on the unit testing examples at all, or if there is a branch where it is being worked on that I can take a look at.

Also, are the client tests going to be done for the ionic2 cli as well as the meteorcli ?

[2017-02-21 01:32] Slavrix commented on #60
you've pretty much got it correct.

make sure sure you use the ionic-native as that will save you all the time in the world
https://ionicframework.com/docs/v2/native/onesignal/

[2017-02-26 19:02] Blacktoviche opened #64 "Tutorial Step 2 needs update src/models.ts is missing"
I was just following your tutorial and in step 2 you mentioned creating TypeScript Interfaces in src/models.ts but in you repository this file is missing

[2017-02-27 14:47] gotu commented on #56
This seems to be an issue with Typescript moduleResolution when using symlinks. Any feedback on this one?

[2017-02-28 14:11] gotu opened #65 "Ionic's default bundler is webpack not rollup"
Following lines in the tutorials "Stop 1: Bootstrapping", see code block below, were true only before I think somewhere around this: https://github.com/driftyco/ionic-app-scripts/commit/09bc51144b79e26c5b4f56e7f7b99900cc88afe6

It was announced here: http://blog.ionic.io/ionic-build-process-updates/

And in the current documentation of ionic-app-scripts, bundler	ionic_bundler	--bundler	webpack, de

[2017-02-28 16:26] gotu opened #66 "typescript_extends obsolete?"
Can you please explain in the tutorial in "Step 1: Bootstraping" why there is need for the npm module "typescript-extends".

Who is setting where Typescript compiler option --noEmitHelpers=true so we need a definition of __extends function?

Further on, the project is allready including: tsickle
├─┬ @angular/compiler-cli@2.2.1
│ └─┬ @angular/tsc-wrapped@0.3.0
│   └── tsickle@0.1.7

Which has such

[2017-03-02 09:48] gotu opened #67 "@types/meteor deprecated?"
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/meteor

@types/meteor is announced as deprecated and meteor-typings should be used.

meteor-rxjs switched in last version https://github.com/Urigo/meteor-rxjs/blob/master/CHANGELOG.md#047-2016-12-21 switched from meteor-typings to @types/meteor and references it directly <reference types="@types/meteor" />

So what is currently the sta

[2017-03-02 12:44] gotu commented on #62
Are you making a production build? (--prod)

See: http://ionicframework.com/docs/v2/intro/deploying/

See also:
https://github.com/driftyco/ionic/issues/6776
https://github.com/driftyco/ionic-app-scripts/issues/670
https://github.com/driftyco/ionic-app-scripts/issues/743

And so on. ionic/app-scripts are working on optimizing this performance on production builds.

For me a certain apps launches i

[2017-03-02 12:49] gotu commented on #64
The models are moved in Step 3 of the tutorial. See:

[2017-03-02 12:52] gotu commented on #63
You should not run ionic-dev-server and meteor-chat-sever it on same port.

[2017-03-04 06:20] zettre opened #68 "Windows equivalent for ln -s ../node_modules"
Hi, how to execute the equivalent command in windows cmd.

[2017-03-04 08:04] IvanLjubicic commented on #68
You got complete explanation here

https://www.howtogeek.com/howto/16226/complete-guide-to-symbolic-links-symlinks-on-windows-or-linux/

mklink /D "C:\Link To Folder" "C:\Users\Name\Original Folder"

[2017-03-04 13:24] zettre commented on #68
Thanks, but just one query, the 2nd option to mklink can be any name in this project for example if i am in api folder and i use the command as "mklink /D link  ..\node_modules" is it correct.

[2017-03-04 14:14] #68 closed

[2017-03-04 14:19] zettre opened #69 "Cannot find name "any""
This error after 9.Privacy and Security Page tutorial.
![capture](https://cloud.githubusercontent.com/assets/11887558/23579444/9ebfc2c8-0113-11e7-8706-1883e26ce2d3.PNG)

[2017-03-06 08:16] gotu commented on #69
that's because the rootPage property here should be declared of type any, not assigned the value any, because any is not a value.. so rootPage: any; in this case..

[2017-03-06 21:22] mscherer82 opened #70 "Cannot find module "meteor-client""
I cloned the repo and run
[code]

I tried the latest master and tag master-0.0.5 and both gave me the following error in client browser:

[code]

[2017-03-07 08:49] gotu commented on #70
If you follow the steps in the tutorial, there will be an 'meteor-client' module, which will be build by the meteor-client-bundler: https://github.com/Urigo/meteor-client-bundler

If you don't want to read the tutorial, the your question is probably this one: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/51

In short you want to do something like this:

$ git clone https://github.com/U

[2017-03-07 14:46] mscherer82 commented on #70
Thank you for your quick response.
I had to remove sharp because of a gyp error and now I'm getting the errors from https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/56 even when I call `ionic serve`. I changed the types to `any` and now I can see the app on my screen.

[2017-03-07 14:47] #70 closed

[2017-03-07 14:58] gotu commented on #70
if you allready run npm install once before, then "wrong" sharp will be installed, because it's defined in the packages.json, but that sharp is not compatible with the server..

you have to explicitly install sharp with "meteor npm install sharp" before your run npm install the first time..
if you installed sharp with npm remove it an install it like described here:

https://github.com/Urigo/Ionic

[2017-03-07 15:51] #53 closed

[2017-03-07 16:15] AndyDorman opened #72 "How difficult to add other Meteor authentication like accounts-ui and accounts-password?"
Love the tutorial and I am up to step 11 with everything working great, but my ultimate application is going to need a more traditional starting point with a "home" page and other authentication options such as password.  I would like to continue using Meteor's account-base, but if I can't easily add password authentication and others (like FB) I may have to start over.

I am not so worried about

[2017-03-07 16:28] gotu commented on #72
I'm using accounts-password instead of accounts-phone..
So basically the meteor project get's
`$ meteor add accounts-password  `
insted of mys:accounts-phone..

And the sign in page with a form for username and password validated the form and uses then:
[code]

I didn't try accounts-ui..

[2017-03-09 22:38] AndyDorman commented on #72
Thanks gotu.  That was very helpful.
Just to help anyone else that reads this, I really want BOTH SMS and password (and other) authentication.  So here is what I have tried and the results I have had:

I really, really did not want to have to write my own authentication system with login, lost password, change password, etc..So I have tried the following with the results noted below:
1. I added Me

[2017-03-11 02:22] IvanLjubicic commented on #56
Hi.

Did you found any solution for this?

Thank you.

[2017-03-13 09:02] gotu commented on #56
Not for bootstraping like described here in this tutorial in steps 1, 4 and 5.

So currently when using Ionic CLI (e.g. having an existing Ionic2 Project) in which I want to integrate Meteor, I leave Ionics build as it is. That way I can safely upgrade ionic-app-scripts.

So speaking in this project it would be leaving the meteor server cleanly separated from ionic (client).

[2017-03-13 16:19] gotu commented on #72
Did you try https://github.com/Urigo/angular2-meteor-accounts-ui for accounts-ui?

[2017-03-13 16:33] IvanLjubicic commented on #56
Thanks.

So basically, you deploy two separate apps on production, and tune Ionic client app (generated with "ionic build targetOS" in Ionic CLI) to target Meteor server app (generated from api directory)? You use DDP parameters to achieve this?

[2017-03-13 17:07] gotu commented on #56
I just leave the meteor server ("api" folder in this app) with it's own package.json, own tsconfig.json, own declarations.d.ts and own node_modules. (And call it "chatserver" instad of "api" :-)

If by DDP parameters, you mean DDP_DEFAULT_CONNECTION_URL, that you can set as described here: https://github.com/Urigo/meteor-client-bundler But you have to do that either way, when you build your meteor

[2017-03-14 02:32] AndyDorman commented on #72
On 03/13/2017 11:19 AM, gotu wrote:

Thank you.

I feel rather silly for not thinking of that.  I will try it and report
back.

I looked at the demo at

https://github.com/Urigo/angular2-meteor-accounts-ui

If I read it correctly I should use "<login-buttons></login-buttons>" in
my template where I need the login button to be, correct?

Andy

[2017-03-14 09:49] mordka opened #73 "Meteor.settings on the client"
This is undefined by default, which causes some client-based packages to break.
How do you guys send Meteor.settings to client?

[2017-03-14 10:27] mordka commented on #11
@dotansimha The new tutorial doesn't mention OAuth and it seems like we need client only solution, OAuth redirects back to port 3000. Has anyone got a solution?

[2017-03-14 17:39] AndyDorman commented on #72
On 03/13/2017 09:32 PM, Andy Dorman wrote:

FWIW I started to try angular2-meteor-accounts-ui and ran into a snag
that definitely shows how new I am to npm and meteor.

I do not know how to add the package to the whatsapp structure with
meteor only on the server in the /api directory.

Running "/api$ meteor npm install --save angular2-meteor-accounts-ui"
runs into a missing "api/package.json" file

[2017-03-14 20:36] Saxafrass opened #74 "Step 2 RemoveChat function not working"
Relatively new to this so probably just missing something easy... but I've gone through the tutorial steps over and over with the same results.

My app is breaking when I add the removeChat function to chats.ts.  I'm told
"Supplied parameters do not match any signature of call target."

Any help or guidance would be much appreciated.

UPDATE - So this function gets replaced right away in Step 4 an

[2017-03-14 23:36] #74 closed

[2017-03-16 03:01] kjusupov commented on #51
My setup:

[code]

I cloned first, followed-up with following:
[code]

results in errors:

[code]

[2017-03-16 08:29] gotu commented on #51
@kjusupov this is an issue since last updates to @types/meteor. If you use 1.3.31 it should work.. so
`$ npm install @types/meteor@1.3.31`

(See also this issue: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/67)

[2017-03-16 08:45] gotu commented on #67
So to update this issue. As I see https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/meteor was updated now for Meteor 1.4 and the "deprecated" note was removed again..

Still why is there need for both in this tutorial, both meteor-typings and @types/meteor?

Also with the last update of @types/meteor it raises this issue: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/51#i

[2017-03-17 16:42] AndyDorman commented on #51
OK, I am pretty confused at this point but on a related note from a [stackoverflow question](http://stackoverflow.com/questions/42729944/typescript-duplicate-identifier-error/42862645#42862645) I updated Ionic from 2.0.0 to 2.2.0 and started getting transpile errors like "TS2300:Duplicate identifier 'Status'"
A fix (not sure it is the correct fix) was to remove "meteor-typings" from the tsconfig f

[2017-03-17 20:21] Saxafrass opened #75 "Error: Cannot find module "meteor/underscore" after Step 6"

[2017-03-17 22:59] #75 closed

[2017-03-18 02:38] IvanLjubicic commented on #56
@gotu How did you manage to install and run chatserver with sharp with this kind of configuration? Previously I had to downgrade sharp version to 0.11.4 to run the app.
I'm on Windows.
Ionic2 client side works ok with newest version of sharp.

[2017-03-18 20:32] IvanLjubicic commented on #56
I migrated to my Mac and it works ok now :) What did you do about jalik:ufs and other packages used on client side but hooked with meteor? (collections as whole folder to be precise)

[2017-03-20 08:00] gotu commented on #56
sharp should be installed only on meteor server, it is needed only on server side.. https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/manuals/views/step12.md#server-side

Also you have to make sure you install sharp first and from meteor repository, see: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/70#issuecomment-284744939

That is if you do it like here in the tutorial,

[2017-03-20 16:09] gustavobrian opened #76 "url Pictures.getPictureUrl"
Hello, thanks for your works!!!!
where is de change localhost url picture for my custom ip or domain?
in model picture.url
 http://localhost:3000/ufs/pictures/Nbitx42qYfD2B4PB4/%2Fassets%2Fdefault-profile-pic.svg
to
http://192.168.1.102/ufs/pictures/Nbitx42qYfD2B4PB4/%2Fassets%2Fdefault-profile-pic.svg

thanks

[2017-03-28 08:49] happylrd opened #78 "Typescript Error Duplicate identifier 'Status' in Step 4"
Hi, I met the error in Step4.

My env is as follows:
[code]
I fixed the problem after removing `meteor-typings` in the root `tsconfig.json`, but I'm very confused about it, someone tell me why?

Any help or guidance would be much appreciated.

[2017-03-29 08:44] himanshuMaheshwari2311 opened #79 "Cannot type anything in messages page"
![1](https://cloud.githubusercontent.com/assets/22850405/24446102/f003a30a-1489-11e7-9019-6f2ddcea8edf.png)

Can somebody please look at this. I am unable to resolve it.

[2017-03-29 08:53] himanshuMaheshwari2311 commented on #78
You need to comment or delete some lines from node_modules/@types/meteor/index.d.ts

First (651 - 677)
/*
declare module DDP {
    interface DDPStatic {
        subscribe(name: string, ...rest: any[]): Meteor.SubscriptionHandle;
        call(method: string, ...parameters: any[]): void;
        apply(method: string, ...parameters: any[]): void;
        methods(IMeteorMethodsDictionary: any): any;

[2017-03-29 08:54] fjms commented on #79
Have you defined the function? In pages/messages/messages.ts
`  onInputKeypress({ keyCode }: KeyboardEvent): void {
    if (keyCode === 13) {
      this.sendTextMessage();
    }
  }`

[2017-03-29 08:54] himanshuMaheshwari2311 commented on #79
Yes

[2017-03-29 08:58] himanshuMaheshwari2311 commented on #79
Anyway Thanks I guess I resolved it.

[2017-03-29 08:58] himanshuMaheshwari2311 commented on #79
I am closing this issue

[2017-03-29 08:58] #79 closed

[2017-03-29 08:59] fjms commented on #79
This is my code https://github.com/fjms/Ionic2CLI-Meteor-WhatsappClone/blob/master/src/pages/messages/messages.ts
Can you paste yours?

[2017-03-29 09:01] fjms commented on #78
Remove "meteor-typings" from tsconfig.json

[2017-03-29 09:26] himanshuMaheshwari2311 opened #80 "How can I convert the project to a .apk"

[2017-03-29 09:56] fjms commented on #80
http://ionicframework.com/docs/v2/cli/
You need add platform android
`ionic platform add android`
create apk
 `ionic build android`
 or for production
` ionic build android --prod`

[2017-03-30 03:17] #80 closed

[2017-03-30 03:18] himanshuMaheshwari2311 opened #81 "Runtime error: jalik_ufs_1 is undefined"
I am in the 12th chapter and I am facing this issue on starting the application.
Has anyone resolved it yet?

[2017-04-05 18:52] KeithGillette opened #82 "Angular CLI instructions?"
Step 1 of the live version of the [WhatsApp Clone with Meteor and Ionic 2 CLI tutorial on Angular-Meteor.com](https://angular-meteor.com/tutorials/whatsapp2/ionic/setup) mentions an Angular CLI configuration:

I have successfully gotten the old Socially Angular-Meteor demo application to build using `meteor-client-bundler` and Angular CLI, but am having module resolution issues with Angular CLI:

[2017-04-05 19:32] KeithGillette commented on #67
That URL produces a 404 error, @gotu. This one works but only goes through 1.3 and is deprecated:
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/types/meteor

However, I searched and found this one, which is updated for 1.4:
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/354cec620daccfa0ad167ba046651fb5fef69e8a/types/meteor

I, too am confused by the inclusion of multiple Meteor

[2017-04-09 11:32] happylrd commented on #78
This is a pretty good tutorial I've seen, I hope it will be better.

Before closing the issue, I will list some tips about learning the tutorial in windows.

`ln -s source target` can be replaced with `mklink /D source target` in *windows*.

Specific to this tutorial,
- `ln -s ../node_modules` -> `mklink /D .\node_modules ..\node_modules`,
- `ln -s ../src/declarations.d.ts` -> `mklink .\declaratio

[2017-04-09 11:33] #78 closed

[2017-04-10 13:58] stefanholzapfel opened #84 "Lazy-loading messages correct?"
In step 10.3 you implement the countMessages method.

But since it runs on the server only (because it is placed in a \server folder), won't it always deliver the FULL count of ALL messages in the collection (and not only the relevant ones in the current chat)?

If I get it right, only the publication is limited by an id parameter, but if we directly access the collection on the server, there are

[2017-04-10 14:27] stefanholzapfel commented on #84
Ok I think I partly got it. Since the local (client-side) Messages collection gathers all the messages from different chats, the count MAY add up to the total count of all messages in all chats.

But isn't it very unlikely that that ever happens? Since in a real environment there will be tons of chats (and therefore messages) in which one specific user will never participate? So the messageCount i

[2017-04-10 14:43] puba3r commented on #84
I noticed this a while ago. I fixed it by passing the chatId.

`  countMessages(chatId:string): number {
    return Messages.collection.find({chatId: chatId}).count();
  },`

[2017-04-10 14:51] stefanholzapfel commented on #84
But that won't solve the issue.

When you have let's say 200 messages in your local database from different chats and you now open another one with e.g. 60 messages, you can't load anymore than the initial 30, because the observer completes due to the fact that it has more items in the local database than in this chat....

[2017-04-10 14:57] stefanholzapfel commented on #84
Ahh, but you could also filter the local database within the observable, I guess thats what you did? ;-)

[2017-04-10 15:28] stefanholzapfel commented on #84
That still has flaws...

E.g. when you close a chat an reopen it, the batchCounter is reset to 1....means if you are already having loads of messages in your client-side minimongo, you will have to scroll up and down several times (until the batchCounter * 10 is greater than the amount of messages in your minimongo) until you get older entries....

[2017-04-10 16:43] stefanholzapfel commented on #84
Ok, I have solved it by just never disconnecting from the scroller and always check if there are more items in the subscribeMessages like that:

[code]

[2017-04-10 16:43] #84 closed

[2017-04-10 17:23] AndyDorman opened #85 "Updating to Ionic 3 + Angular 4 and Meteor 1.4.4"
I love the tutorial and am using it as a basis for a new app.  I am at step 10 in the tutorial.

I wanted to pass along how I was able to successfully update to Ionic 3 + Angular 4 and Meteor 1.4.4 in case it helps anyone else. I am NOT an expert with js or any of these frameworks, so if I have made a mistake I would love to have feedback.

I mostly followed the steps at https://github.com/driftyc

[2017-04-11 00:31] stefanholzapfel opened #86 "Create new chat -> don't forget to unsubscribe"
@Urigo
In Ionic2CLI-Meteor-WhatsApp/src/pages/chats/new-chat.ts you forgot to unsubscribe the merged userSubscription observable, which leads to multiple meteor subscriptions and therefore the filtering will only work in the first lifecycle of the new-chat component.

In subsequent lifecylces there are still the old subscriptions running and prevent the filtered values to be removed from minimongo

[2017-04-11 00:59] stefanholzapfel commented on #86
Btw. same issue in messages.ts. Since the subscription is not done in an autorun block, it has to be released manually.

[2017-04-11 13:52] stefanholzapfel commented on #85
Thanks for that info.

Since I upgraded to Angular4/Ionic3 I have problems resolving some typings:

[code]

Didn't you experience that?

[2017-04-11 14:26] AndyDorman commented on #85
On 04/11/2017 08:52 AM, stefanholzapfel wrote:

I did not have any problems with typings when upgrading to Ionic3.  I
had already removed meteor-typings after upgrading to ionic 2.2.0 a few
weeks ago.  My types currently look like this in tsconfig.json.

"types": [
   "@types/underscore",
   "@types/meteor-accounts-phone"
]

--
Andy Dorman

[2017-04-11 14:29] stefanholzapfel commented on #85
Yeah it's the same for me, but the transpiler always complains when running "npm run ionic:serve"
![image](https://cloud.githubusercontent.com/assets/9963536/24914250/f720ba98-1ed3-11e7-9762-3b297625aee6.png)

[2017-04-11 14:38] AndyDorman commented on #85
On 04/11/2017 09:29 AM, stefanholzapfel wrote:

That is very interesting. I am a beginner with js and ts so I could be
very wrong, but perhaps the difference is I run "ionic serve" directly
(after running "npm run api" to get Meteor started) instead of using the
npm ionic:serve script?

I am currently in the middle of refactoring to get a consistent
organization of CRUD pages for each feature simi

[2017-04-11 14:56] stefanholzapfel commented on #85
Thanks for that tip, but I get the same error when running with ionic cli "ionic serve" directly....:(

[2017-04-11 16:26] stefanholzapfel commented on #85
VERY STRANGE
I simply can't get the typscript transpiler recognize the definitions from within the node_modules via the tsconfig.json.

I have now removed
[code]
from the tsconfig.json types array and instead manually added

[code]
to my main.ts.

That is a very ugly workaround, but at lest it's running for now.

Hope somebody can help me out.

Btw. I have moved the api to a sibling folder of my a

[2017-04-11 18:53] AndyDorman commented on #85
On 04/11/2017 09:56 AM, stefanholzapfel wrote:

OK.  I have been sidetracked by my day job, but as soon as I can get
back to this, probably tonight, I will finish my refactoring and see if
I can duplicate this problem.

I am really enjoying working with a new language (Typescript) and really
neat frameworks like Angular, Ionic and Meteor, but the learning curve
can be really steep at times.  ;-)

[2017-04-11 20:17] AndyDorman commented on #85
On 04/11/2017 10:07 AM, stefanholzapfel wrote:

I only changed the app name in ionic.config.json

---
{
   "name": "comehome",
   "app_id": "",
   "v2": true,
   "typescript": true
}
---

Here is my tsconfig.json  I use atom as my editor.

---
{
   "compilerOptions": {
     "allowSyntheticDefaultImports": true,
     "baseUrl": ".",
     "declaration": false,
     "emitDecoratorMetadata": true,

[2017-04-11 20:29] stefanholzapfel commented on #85
My tsconfig is exactly the same.

The only difference I see is, that my API is in it's own project and node_modules in the app is just a symlink to the api's folder:
![image](https://cloud.githubusercontent.com/assets/9963536/24929390/0dcf2360-1f06-11e7-8ce5-e2e53e54ecc9.png)

I thought that was the issue because I have heared that typescript changed something with paths in newer version, but the

[2017-04-12 03:47] AndyDorman commented on #85
On 04/11/2017 03:29 PM, stefanholzapfel wrote:

My project is set up with node_modules in the project root and the
Meteor api directory has a sym link to it.

The project root looks like this:

drwxr-xr-x   5 adorman adorman  4096 Apr  6 15:05 api
-rw-r--r--   1 adorman adorman  1785 Mar 15 12:53 config.xml
drwxr-xr-x   8 adorman adorman  4096 Apr 11 10:16 .git
-rw-r--r--   1 adorman adorman   423

[2017-04-12 16:37] stefanholzapfel commented on #81
Yes, it's missing typing information. Try to add

[code]

to your declarations.d.ts

[2017-04-12 16:40] stefanholzapfel opened #87 "Problems getting sharp library running"
I have trouble installing sharp with meteor's npm:

`meteor npm install --save sharp`

leads to this error:
![image](https://cloud.githubusercontent.com/assets/9963536/24968949/5781a2c2-1faf-11e7-9fe2-ced76081a4d5.png)

I guess the problem is, Meteor uses 32Bit NodeJs?

[2017-04-12 16:50] himanshuMaheshwari2311 commented on #81
Nope still the same even after adding it to my declarations.d.ts

[2017-04-12 17:32] stefanholzapfel commented on #81
And you have added the symlink to the declarations file in your api directory?

[2017-04-12 17:35] himanshuMaheshwari2311 commented on #81
The only symlink that i have added is to the node_modules directory

[2017-04-12 18:13] stefanholzapfel commented on #81
I guess thats the problem. Open the API directory and there create a symlink to the declarations.d.ts file. Otherwise Meteor's build tool won't know about your typings.

[2017-04-12 18:16] himanshuMaheshwari2311 commented on #81
I have added a symlink. Still throwing the runtime error

[2017-04-12 18:24] stefanholzapfel commented on #81
Did you rebuild the meteor-client bundle?

[2017-04-12 18:27] himanshuMaheshwari2311 commented on #81
Yes, already did that.

[2017-04-12 18:29] stefanholzapfel commented on #81
Sorry, no more ideas.
Do you get any errors in your IDE or just at transpile time?

[2017-04-12 18:30] himanshuMaheshwari2311 commented on #81
Nope, no error at transpile time no warnings as well.
Thanks dude, really appreciate you effort.

[2017-04-13 14:53] NOaMTL opened #88 "Issue with fsevents on Ubuntu (step4)"
I started the tuto from step1, and right after creating the ionic default app, i have warnings about fsevents (yes only warning, not preventing me from installing packages).
I am at the step where I create the api server side with meteor (latest meteor version), and after I have done it and installed babel-runtime + meteor-node-stubs, I try to run the meteor app, and I got this error :
[code]
I am

[2017-04-21 23:58] pizzetto commented on #72
@AndyDorman did you succeded?

I'm facing the same problem. I may think to draw a custom login/register/etc view built upon the accounts-password, do you think that works?

[2017-04-22 00:11] pizzetto commented on #72
I wonder if @gotu has built his own authentication interface. Could you please explain how did you do this?

[2017-04-22 02:35] AndyDorman commented on #72
On 04/21/2017 06:58 PM, pizzetto wrote:

I finally gave up on adding angular2-meteor-accounts-ui and just decided
to add accounts-password alongside mys:accounts-phone and add my own
login forms and pages.

It wasn't too difficult to get it working, but I still have a lot of
rough edges...for example I still need to make sure an unauthenticated
user can ONLY see the public pages and need to add a

[2017-04-22 11:31] pizzetto commented on #72
As well as you, I'm just starting to code in js and meteor.
So we have three options right?

1. useraccounts-ionic (I'm reading the guide here https://github.com/meteor-useraccounts/core/blob/master/Guide.md#available-versions) but it seems to be made for angular1
2. angular2-meteor-accounts-ui but I cannot find any guide about it
3. accounts-password alongside mys:accounts-phone as you did. If I

[2017-04-23 03:00] AndyDorman commented on #72
I think you are correct that those are our three options.

I tried to use useraccounts:ionic but as you said, it is old (with
flow/iron router) and I did not want to add old packages that I was not
going to use in the rest of the project.

I was unable to get angular2-meteor-accounts-ui to work as I described
in this ticket.

So I am doing my own and it is not hard.  I added a very simple "home"
p

[2017-04-23 22:49] pizzetto commented on #72
Yeah, you're right.
I started with useraccounts:ionic, but I stumbled upon the same issue as you did, the same!

And yeah, really, how do you find a documentation if it is missing from a project readme/home page?
It's not easy to find the source code of the package, or at least, it is for me.
I can't even succeed to import useraccounts:ionic...how you do that?? I got an error of package not found

[2017-04-24 11:26] flowest opened #89 "Bootstraping issue"
I followed the steps along in "Bootstraping"
But when i want to do the final "ionic serve" i get the following error (all my steps are visible in the picture):

![error](https://cloud.githubusercontent.com/assets/19711256/25335037/6891b4a8-28f1-11e7-9d94-7c212bc54ea5.png)

(notice that i copied the webpack.config.js file manually)
I have no idea how to solve this problem....

[2017-04-26 08:14] IvanLjubicic commented on #87
Yes, it is. I had the same problem.
At first, I installed older version of sharp which has 32bit.
After some difficulties I experienced in development, I decided to "turn off" sharp functionalities in app while I'm working on Windows. Later I'm planning to build real version on other OS.

[2017-04-26 10:42] darkbasic commented on #56
Hi,
I'm facing an issue with Ionic and Webpack. It seems like Ionic performs some kind of "runtime" type checking. In fact, while "ionic serve" builds flawlessly I get the following error in the web page rendered:

Runtime Error
Module parse failed: /home/niko/WebstormProjects/whatsapp_2/node_modules/sharp/build/Release/sharp.node Unexpected character '' (1:0) You may need an appropriate loader t

[2017-04-26 11:03] darkbasic commented on #40
Is there any guide which explains how to effectively contribute to the tutorial? I did a couple of pull requests for the tutorial, but without the knowledge on how to generate the various steps (diffs, etc..) it's hard to make "production ready" commits...
I'm far from being a Meteor expert (but I know a bit more about Angular), but if you need a couple more eyes to review the new "single chapter"

[2017-04-26 18:01] darkbasic commented on #67
Any clue on this?

[2017-04-27 05:08] mmazloum commented on #87
I had the similiar problem trying to deploy it on servers on galaxy.meteor, I turned off sharp as well, you can generate thumbs or lower resolution images at upload with gm and it seems to work if you really need this feature.

[2017-04-27 12:08] Urigo commented on #40
if you want to see how we create the tutorial and help, check out [this](https://github.com/Urigo/tortilla) repository.  this is the tool we use and we would love to get help in updating both docs and code to the latest versions

[2017-04-27 12:55] darkbasic commented on #40
Thanks, I will have a look and try to contribute! I have lots of fixes I would like to submit, currently the tutorial is broken in many subtle ways (for example you will need to use cordova Telerik-Verified-Plugins/ImagePicker instead of cordova wymsee/cordova-imagePicker to be able to use the ImagePicker on Android6+). I found dozens of these corner cases, it seems it will be an hard job the keep

[2017-04-27 12:57] Urigo commented on #40
@darkbasic thank you very much!  just know that you can always contact me and the team directly with any questions, we would love to increase the people who are able to contribute to the tutorial and library

[2017-04-27 15:28] darkbasic commented on #40
### Pending fixes from darkbasic

- [ ] Check for permissions before using `Sim` on Android6+
- [ ] Check for permissions before using `ImagePicker` on Android6+
- [ ] Switch from Cordova `wymsee/cordova-imagePicker` to `Telerik-Verified-Plugins/ImagePicker` (`ImagePicker` broken on Android 6+)
- [ ] `convertURLtoBlob()` must return a `File` object instead of a `Blob` object: `const file = new Fil

[2017-04-29 01:30] superrandres commented on #89
En el el primer paso yo seguí tal y como esta el tutorial y tuve un error parecido al tuyo pero se resolvió deteniendo el servidor de Ionic y volviéndolo a iniciar.

[2017-05-04 10:48] tobiaghiraldini opened #91 "Missing users subscription in chats page"
Symptoms: after creating new chats with some users, the chats list gets populated also with the users' profile pics. But refreshing the page, the pics go away until we create a new chat, making the chats sub autorun block run again.

Solution: I added a subscription to the users pub in the chats page OnInit, and remove it in the OnDestroy. This way the chats subscription in this page can load the

[2017-05-04 10:51] tobiaghiraldini commented on #91
Here is the blocks of code added in the chats.ts file for the provided solution:
`
userSubscription: Subscription;

ngOnInit(): void {
    this.userSubscription = this.subscribeToUsers();
    ....
  }
...
  ngOnDestroy(): void {
    if (this.userSubscription) {
      this.userSubscription.unsubscribe();
    }
  }

`

[2017-05-04 22:13] darkbasic commented on #40
It took plenty of time to implement Facebook authentication, because ```Meteor.loginWithFacebook()``` didn't work out of the box and I had to check Meteor's source code to understand how accounts and oauth were implemented.
So I realized that the magic happens on the Meteor server side. So I set my oauth redirect_uri to the port where the Meteor server is running and not the port where the Ionic s

[2017-05-04 22:55] ingleo opened #92 "Login with facebook from ionic 2 external client to meteor"
Hi,

I'm trying to login with facebook from the ionic application client, but when I execute the methods Meteor.loginWithFacebook... the response show this url (from device chrome inspect) and screen:

http://localhost:3000/oauth/facebook?close&code=AQAC8K-XaIIBjNlGapdPDKwE4iFl2ntxfVA4D4MEeAe4VjotFvRZ0XrNZ9ew8F5vD8Btp74latz58yfmq9ZplNrbIm9W72ykZkbz-H0lou06nfbVfBNPmw425n9ktpnWwR2IPtufeqs3e-5nF9iKMU

[2017-05-04 23:21] darkbasic commented on #92
Please have a look at my latest post here: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/40

[2017-05-05 11:49] tobiaghiraldini opened #93 "The user collection hook is deleting the current profile picture"
When the profile picture is uploaded and the profile saved, the "after.update" collection hooks in /api/server/collections/users deletes the current profile picture.
We should either delete the this.previous.profile picture or issue this hook as it is in a "before.update" hook

[2017-05-05 13:47] AndyDorman commented on #40
FWIW, I think using an nginx proxy for a web app is a good idea.  Nginx
is a solid front-end that can provide a good layer of security against
exploits. It can also provide the SSL layer.  We have used it as a proxy
for php (Wordpress, Drupal, Horde) and perl web applications for many years.

OTOH how would Nginx work in the case of a cordova mobile app?  I have
no experience in that area.

Andy

[2017-05-05 16:00] darkbasic commented on #40
A Cordova mobile app runs locally, so AFAIK you can't access Facebook APIs anyway (unless you're testing). The solution would be to use something like ```cordova-plugin-facebook4``` on Cordova. I tried it and it works flawlessly, but when trying to integrate it with Meteor using ```btafel:accounts-facebook-cordova``` I runned into problems on Android. I will have a look and try to find what's wron

[2017-05-05 17:53] darkbasic commented on #40
I found the issue: [https://github.com/Urigo/meteor-client-bundler/issues/23](https://github.com/Urigo/meteor-client-bundler/issues/23)

```btafel:accounts-facebook-cordova``` expects to be able to access ```Meteor.settings.public``` on the client, while Meteor.settings is ```undefined``` because meteor-client-bundler does not have the ```--settings``` parameter poiting to the settings file.

[2017-05-05 18:27] y01s opened #94 ""Uncaught ReferenceError: __meteor_runtime_config__ is not defined" when trying to run on emulator"
The problem occurs in step 4.
when I ran `ionic serve` everything works fine, but when trying to run on android
`ionic run android`,
I get a white screen, and in the console I get this

`Uncaught ReferenceError: __meteor_runtime_config__ is not defined`

How can I solve this?

[2017-05-06 18:19] #94 closed

[2017-05-06 22:03] ingleo commented on #92
I looked and tried the recomendation of @darkbasic  in #40 using btafel:accounts-facebook-cordova package that works with cordova-plugin-facebook4 plugin, I did this steps.

1. Remove accounts-facebook package (because it creates conflict with btafel:accounts-facebook-cordova)
2. Add btafel:accounts-facebook-cordova and facebook-oauth(this one is removed with accounts-facebook)
3. Add facebook set

[2017-05-06 22:05] darkbasic commented on #40
While trying to fix ```yubozhao:meteor-link-accounts``` I also noticed that ```Meteor.isCordova``` is broken when using Ionic 2 + ```cordova run android``` (it always return ```false```). It probably breaks tons of packages and should be fixed.

[2017-05-06 22:18] darkbasic commented on #92
From your screenshot it seems you are trying to use the Browser Facebook API instead of the Android SDK Facebook API (```btafel:accounts-facebook-cordova``` can use both): it won't work on Cordova because the app will run locally with no domain.
You need to use the Android SDK Facebook API, which ```btafel:accounts-facebook-cordova``` doesn't use because of a bug in the Meteor + Ionic 2 combo (```

[2017-05-08 14:07] darkbasic commented on #40
I don't like the end result because there is lots of code duplication between ```meteor-link-accounts``` and ```accounts-facebook```, but that's how things were implemented and it would be very difficult to do otherwise without some kind of official support for accounts linking anyway.

Hopefully they will accept my patches upstream and there will be no need for a fork, but in the meantime here is

[2017-05-08 14:09] darkbasic commented on #92
@ingleo have a look at my latest post: [https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/40](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/40)
I didn't rewrite ```accounts-facebook``` as I wished to do, because it probably would be a waste of time without some kind of official support for accounts linking in Meteor. So most of the work is in ```meteor-link-accounts``` instead.

[2017-05-08 15:58] ingleo commented on #92
Hi @darkbasic I had read #40 latest posts and I'm little confused, can you tell me please if:
```meteor-link-accounts```: https://github.com/darkbasic/meteor-link-accounts
```accounts-facebook```: https://github.com/darkbasic/accounts-facebook
Both resolve this issue , or resolve different cases according that you say in the post.
Really appreciate your help with this.

[2017-05-08 16:45] darkbasic commented on #92
If you only need facebook authentication you can safely use only ```darkbasic:accounts-facebook```. On Cordova it will work out of the box, while on Browser you will need an nginx proxy.
You will need ```meteor-link-accounts``` only if you want to **link** an existing account with a Facebook account.
Both had issues with angular-meteor, which I fixed.

[2017-05-08 17:01] ingleo commented on #92
When you say "link", is that the facebook user data will be stored in Meteor users colllection?

[2017-05-08 18:16] darkbasic commented on #92
With account linking I mean allowing a user to authenticate from any of their accounts and still be recognized by your app and associated with the same user profile.

Meteor will treat all identities as separate by default. For example: if a user logs in first using its username and password and then via Google or Facebook, these two attempts would appear to Meteor as two separate users.

[2017-05-08 20:30] ingleo commented on #92
Thank you so much for your help, now is clear to me every one, how do you do for call ```darkbasic:accounts-facebook-cordova``` packages locally,  if it's not available in atmosphere?

[2017-05-08 22:10] darkbasic commented on #92
Just clone the repo into ```./api/packages/``` and then ```meteor add darkbasic:accounts-facebook-cordova```. By the way you don't need ```darkbasic:accounts-facebook-cordova``` anymore because they just merged my commit [upstream](https://github.com/btafel/accounts-facebook/pull/2#event-1073354479).

[2017-05-08 22:51] ingleo commented on #92
Hi @darkbasic, I'm going to install the package updated, and tell you if it works fine.
By the way, I was looking for your pull request on yubozhao/meteor-link-accounts and found that your changes reference the "darkbasic:accounts-facebook-cordova" package, according to your comment above, already isn't necesary.

[2017-05-09 19:00] ingleo commented on #92
I'm able to login with facebook now using ```btafel:accounts-facebook-cordova``` local package, but it was necessary copy the generated source code by the meteor startup into the file generated by the ```meteor-client-bundler``` in order to have the latest changes that support the login options.
Thank you so much @darkbasic, regards.
I'm going to close the issue.

[2017-05-09 19:00] #92 closed

[2017-05-09 20:30] darkbasic commented on #92
You're welcome ;)

[2017-05-09 21:33] kevinrfx8 commented on #85
That error is so strange, I already did all the steps to update to ionic3/angular4, and in my environment, it works as I expected,(by the way I'm using a docker container with ubuntu 16), but my partner it's getting the same error about finding @types/underscore definition, he is using windows 10.

[2017-05-09 21:45] kevinrfx8 commented on #72
To handle google and facebook auth, you could use an external dependency like https://www.npmjs.com/package/angular2-social-login or the ionic one https://ionicframework.com/docs/native/facebook/, just to get the access token and after that, send it through a method like
`Meteor.methods({
    'getAccessTokenWithFacebookToken': function (accessToken) {
        this.unblock();
        try {

[2017-05-09 22:34] darkbasic commented on #85
I also upgraded to Angular 4 and Ionic 3 without issues.

[2017-05-09 22:37] darkbasic commented on #72
Look [here](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/92) if you need help with ```accounts-facebook```.

[2017-05-09 23:21] fernandoarevalo commented on #73
Hi, Currently Ionic2-Meteor combo does not send "settings" out of the box, in this case for the ionic 2 client.

If you need to send parameters for facebook login mobile, this post Urigo/Ionic2CLI-Meteor-WhatsApp#92 would probably help you, because  presented the same problem.

Regards

[2017-05-10 03:33] AndyDorman commented on #85
On 05/09/2017 04:33 PM, Kevin Eduardo García Salas wrote:

You probably already know this, but just in case not, when I upgraded to
Ionic 2.2.0 I had to remove "meteor-typings" from /tsconfig.json.

My current /tsconfig.json has

"types": [
   "@types/underscore",
   "@types/meteor-accounts-phone"
]

and /api/tsconfig.json has

"types": [
   "meteor-typings",
   "@types/meteor-accounts-phone",

[2017-05-10 11:41] darkbasic commented on #73
See also https://github.com/Urigo/meteor-client-bundler/issues/23

[2017-05-10 15:28] kevinrfx8 commented on #85
@AndyDorman hi, yes my tsconfig files (both) are technically equals to yours, except I just have @types/undesrcore and meteor-typings on the other one, and it works well, but in my partner env no, so we had to roll back the upgrade to continue working.

[2017-05-11 23:44] leonardoespinosa opened #95 "Login with twitter and google from ionic 2 external client to meteor"
I read the issue #92 about login with facebook from ionic 2 external client to meteor and I'm looking for this to twitter and google, can anybody know how is?.
Bye

[2017-05-12 00:41] mmazloum commented on #85
everything is fine with Ionic 3.2 / Angular 4.1 on my side.

[2017-05-15 20:52] rodrilink commented on #85
Thank you for the info, i have no problems running with `ionic serve` and works fine on a browser, but when   run with `ionic cordova run android` the list of observable do not show. `<ion-item-sliding *ngFor="let chat of chats | async">` there is no errors on the emulator, just do not shows any chat.
Has anyone try it on a android emulator?

[2017-05-16 17:32] darkbasic commented on #40
I implemented all the features I wanted to add to the tutorial, I'm looking into Tortilla right now.

[2017-05-17 11:56] darkbasic commented on #40
[code]

[2017-05-17 19:30] pkitatta commented on #85
I have this comment too:

Cannot find type definition file for '@types/underscore'

[2017-05-17 20:24] DAB0mB commented on #40
@darkbasic I've just changed the reference of Tortilla's skeleton to use https instead of ssh and released a new version that should do the trick, can you please re-install Tortilla and try again?

[2017-05-18 14:34] darkbasic commented on #40
I'm starting to get familiar with Tortilla and I managed to edit a sub step:
1) ```tortilla step edit 6.3```
2) Then I edit the source code
3) ```git add .```
4) ```git commit --amend```
5) ```git rebase --continue```

Then I use a merge tool to rebase all the subsequent commits.

Unfortunately I cannot manage to edit a super step:
1) ```tortilla step edit 6```
2) Then I edit ```.tortilla/manuals/

[2017-05-18 14:51] DAB0mB commented on #40
@darkbasic I will check the rendering thing, but it should work. If you would like to add a new sub step:

    tortilla step edit 2.22
    # stage your changes
    tortilla step push -m "My changes"
    git rebase --continue

If you would like to add a new super step:

    tortilla step edit 2.22
    # Stage your template changes
    tortilla step tag -m "My new super step"
    git rebase --contin

[2017-05-18 15:30] darkbasic commented on #40
Nice, sounds good. What about deleting a sub step, is it possible?

Regarding the rendering thing, am I supposed to get any kind of output from ```tortilla render manual```? Because even if I type ```tortilla render manual non_existing_step``` I don't get any output at all.

[2017-05-18 22:14] DAB0mB commented on #40
@darkbasic To remove a sub step either from the top or the middle of the stack, run:

    $ tortilla step edit 2.22
    $ tortilla step pop
    $ git rebase --continue

Regards rendering, just check out the `.tortilla/manuals/views` dir, and you should see the output.

[2017-05-18 22:24] darkbasic commented on #40
Yes I checked .tortilla/manuals/views bit it doesn't create nor update the relative view, I don't know why. Is there anything I can do to debug why it doesn't work? I cloned the tutorial, edited a super step (simply added a couple of words in the corresponding template) and then generated all manuals. I expected to see an updated view, but it didn't happen...

[2017-05-18 22:32] DAB0mB commented on #40
@darkbasic Clone a local copy of tortilla and install it using:

    $ npm install ../path/to/tortilla

Then try to run tortilla operations, and while you do so you can add `console.log()` to your tortilla so you could debug expected variable values. The `manual.js` module is the one whose responsible for rendering, so you should start checking the issue from there.

[2017-05-19 08:42] puba3r commented on #87
We had a problem with sharp as well after building the meteor server (meteor build path --architecture XXX). After some digging the issue was the wrong version of sharp being used after building and we fixed it by doing the following steps:

- build and deploy the meteor app (server)
- removing the sharp package from the node_modules
- then doing npm install
- adding the meteor version of sharp: m

[2017-05-19 10:12] darkbasic commented on #87
This has probably nothing to do with your issue, but since I encoutered this problem and I had to spend quite some time to fix it I will post what I discovered anyway. Sharp bundles a binary library, which doesn't always link fine on your system depending on your libraries versions. At least on Arch, it doesn't. So I had to compile and install such library and it magically started working. I hope

[2017-05-19 13:02] darkbasic commented on #40
Looking at the source code I discovered that there is indeed an issue, but in the documentation :D
I made a PR: [https://github.com/Urigo/tortilla/pull/38](https://github.com/Urigo/tortilla/pull/38)

[2017-05-19 16:15] darkbasic commented on #40
Rebasing everything to a brand new version with fresh packages is definitely the most painful part, especially when you didn't always use trailing commas and at the end of the merge you realize you missed a few commas in the middle of an array! Also, trailing commas really help merge tools to get their job done without user intervention, such a pity that json doesn't allow them :(

Anyway, I rebas

[2017-05-21 13:07] darkbasic commented on #40
I found another pretty annoying [issue](https://github.com/Urigo/tortilla/issues/39): when rendering the view ```{{{diffStep 2.10}}}``` translates into step 2.1 instead of step 2.10. I don't have enough time to look at Tortilla's parser today and next week I will be in Spain, so I will be glad if you can have a look at it.

[2017-05-25 01:20] pkitatta commented on #63
@TarunKala Did you solve this issue? I have the exact problem

[2017-05-25 01:39] pkitatta commented on #85
Anybody there who has succeeded to help me with stage 4?

https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/63

[2017-05-26 09:12] jycouet commented on #40
Hi,
Thank you for your https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/40#issuecomment-299324079
The only problem is that I'm not using ngix.

So I have my client side hosted on localhost:4200 speaking to my backend on loalhost:3000.
How should I make this working?

- [x] OAuth redirect to localhost:4200/_oauth/MYSERVICE
- [ ] My route _oauth/MYSERVICE should send something to my server?

[2017-05-27 12:29] darkbasic commented on #85
I rebased the whole tutorial to Angular 4 and Ionic 3, I will release it as soon as I will finish writing a couple of new chapters (Facebook auth, etc..).

[2017-05-29 22:28] jycouet commented on #40
Hi @darkbasic,
Thanks again for all your comments.
Even if I'n not sure about the **nginx** solution I'm giving a try...
Do you have some special parameters for meteor apps? Because on my side (windows) it's really slow!

What should I put in settings.json?:
[code]

And in the OAuth provider (github, facebook, google):
[code]

-----------------
@Urigo any other idea of implementation?

-----------

[2017-05-30 09:32] darkbasic commented on #40
This is my `meteor-client.config.json`:
[code]

I didn't find another easy solution which doesn't involve rewriting tons of code in the whole meteor stack.
I'm in the process of writing a couple of new chapters, including Facebook. I will publish everything in a couple of weeks.

[2017-06-01 08:46] wilkovanhoek commented on #56
Hi everyone,

I am also trying to create a productive build from the tutorial's app. I am building it for browser and android. I have managed to get rid of the errors stated in original post by @gotu above. This solution is somewhat stupid, but at least it works. If you remove the type definition from the variable declaration and methods, the compiler won't complain anymore.

For example, in [src/

[2017-06-01 20:26] Vandell63 commented on #85
Hey guys ,
My package.json work for me :
"devDependencies": {
    "@types/chai": "3.4.34",
    "@types/meteor": "^1.4.1",
    "@types/meteor-accounts-phone": "0.0.5",
    "@types/mocha": "2.2.34",
    "@types/underscore": "^1.8.0",
    "chai": "3.5.0",
    "chai-spies": "0.7.1",
    "meteor-node-stubs": "0.2.4",
    "meteor-typings": "^1.3.1"
  },
  "dependencies": {
    "@angular/animations": "^4

[2017-06-01 20:26] Vandell63 commented on #85
"devDependencies": {
    "@types/chai": "3.4.34",
    "@types/meteor": "^1.4.1",
    "@types/meteor-accounts-phone": "0.0.5",
    "@types/mocha": "2.2.34",
    "@types/underscore": "^1.8.0",
    "chai": "3.5.0",
    "chai-spies": "0.7.1",
    "meteor-node-stubs": "0.2.4",
    "meteor-typings": "^1.3.1"
  },
  "dependencies": {
    "@angular/animations": "^4.1.3",
    "@angular/common": "^4.1.3",

[2017-06-01 20:27] Vandell63 commented on #85
My package.json work for me, share :+1:
`"devDependencies": {
    "@types/chai": "3.4.34",
    "@types/meteor": "^1.4.1",
    "@types/meteor-accounts-phone": "0.0.5",
    "@types/mocha": "2.2.34",
    "@types/underscore": "^1.8.0",
    "chai": "3.5.0",
    "chai-spies": "0.7.1",
    "meteor-node-stubs": "0.2.4",
    "meteor-typings": "^1.3.1"
  },
  "dependencies": {
    "@angular/animations": "^4

[2017-06-03 15:52] barak-haviv opened #96 "Step 2 in the tutorial I get this: Supplied parameters do not match any signature of call target."
Supplied parameters do not match any signature of call target.

[code]
https://angular-meteor.com/tutorials/whatsapp2/ionic/chats-page
section 2.18

[2017-06-03 17:55] darkbasic commented on #96
I completely rebased the whole tutorial and this is the only change I made to step 2.18:
[code]

It has nothing to do with your error, so probably the problem lies somewhere esle.
Anyway the new version of the tutorial works fine for me and I will release it soon.

[2017-06-04 04:22] barak-haviv commented on #96
I don't know why yet but it work like this
` this.chats.map(chatsArray => {
`and not like this
` this.chats.map<Chat[]>(chatsArray => {`

[2017-06-04 20:23] lfsanchezg commented on #96
I've had the same error on that step and continued leaving the line without the ```<Chat[]>``` part. It worked on the next steps :)

[2017-06-04 20:26] lfsanchezg opened #97 "The first link in each chapter for downloading the code until that point doesn't work"
It downloads a text file without extension containing the text ```404: Not Found```

Hope you fix it in the next version :)

[2017-06-06 17:55] Urigo commented on #40
@darkbasic could you please DM me somewhere?  (Email, Slack, whatever... )

[2017-06-07 07:01] darkbasic commented on #40
@Urigo I sent you an email on your github address.

[2017-06-07 11:16] darkbasic commented on #96
You're right, while testing the new tutorial I noticed that I previously missed that one.
Just use:
[code]

[2017-06-08 09:25] Slavrix opened #98 "Can't update the user collection using accounts-phone."
Im trying to get the accounts-phone package to allow me to update my profile (only the profily of the user) and i keep getting back Access Denied.
I have

[code]

in my server too and it still wont let me.

I update using on the client
i know the user._id is the current and correct one as i get it from Meteor.user() a bit higher in the code.
[code]

[2017-06-12 00:56] JonathanLehner commented on #91
ngOnInit() {
    MeteorObservable.subscribe('users').subscribe();
    MeteorObservable.subscribe('chats').subscribe(() => {
      MeteorObservable.autorun().subscribe(() => {
        this.chats = this.findChats();
      });
    });
  }

Like this it should work as well. The issue might be that the observable is "cold" and thus the findOne method also does not work

[2017-06-15 17:52] JonathanLehner commented on #70
I noticed that there are some wrong plugins on the config file, which led to a crash when I tried git clone. In fact it seems there are quite a lot of differences between the tutorial and the github repo, a few node packages and especially the cordova fb and fcm plugins (and functions in methods.ts). When I clone it, it crashes.

[2017-06-15 20:37] darkbasic commented on #70
The tutorial has been refactored, but I still didn't upload it on the main site. If you want you can still find the old version of the tutorial [here](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/tree/1639d26754a4ee2f65ef7e4109997339238b6fd0).

[2017-06-18 13:35] rlaurente commented on #4
actually when you build the client app, you can add --url to specify where's your server.

npm run meteor-client:bundle --url="x.x.x.x:3000"

[2017-06-18 13:54] rlaurente commented on #4
The most clean way is to add --url <ip>:<port> inside your package.json like this

"meteor-client:bundle": "meteor-client bundle -s api --url 192.168.x.x:3000"

and build the client: npm run meteor-client:bundle

[2017-06-20 18:01] santteegt opened #101 "Error when trying to use Facebook authentication from step 17"
Hi,

I have followed the instructions from step 17.1 to 17.7 in order to test the facebook login functionality, but I'm getting the following error after entering the user credentials and clicking on the login button in the facebook login page:

[code]

I'm running the ionic app on `http://192.168.2.15:8100`, whereas the meteor server on `http://192.168.2.15:3000`.

My `meteor-client.config.json`

[2017-06-20 18:17] darkbasic commented on #101
Which url did you type in the browser to reach the app? It must be port 80.

[2017-06-20 20:23] santteegt commented on #101
Hi,

Yes.  To access to my app I use `http://192.168.2.15`

[2017-06-20 20:31] darkbasic commented on #101
Maybe some Facebook app setting... Can you please post a screenshot? Here is mine:
![facebook_meteor_app](https://user-images.githubusercontent.com/1047358/27354485-095aea1a-5608-11e7-9eb5-0dacb556e1a9.png)
Some settings are probably outdated, but you can try to mimic mine.

[2017-06-20 20:37] darkbasic commented on #101
Also please check if the fb login works for you as is in the tutorial (with my fb app id, etc..).

The following is the correct procedure to check out the tutorial from the git repo. You will have to open 2 shells (3 if you want to test it on Android).

Shell 1:
$ git clone https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp.git
$ cd Ionic2CLI-Meteor-WhatsApp/
$ npm install
$ npm uninstall sharp
$

[2017-06-21 04:29] Bobin56 commented on #89
I have same issue . @flowest  , did you manage to resolve this ?

[2017-06-21 09:23] darkbasic commented on #89
Can you reproduce it with the new tutorial on github (which is more updated than the one on the website)?

The following is the correct procedure to check out the tutorial from the git repo. You will have to open 2 shells (3 if you want to test it on Android).

Shell 1:
$ git clone https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp.git
$ cd Ionic2CLI-Meteor-WhatsApp/
$ npm install
$ npm uninstall

[2017-06-21 11:14] flowest commented on #89
@Bobin56 I wasn't able to relove this, but i gave up trying since i had to present this framework on my school class. I tried this example: https://github.com/Urigo/angular2-meteor-base. I was able to get this to work and understand the basics of meteor. Maybe this helps. Maybe i will give it another try on holiday

[2017-06-22 09:50] krishnapsms commented on #82
Hi @KeithGillette How you integrated with Angular CLI, Am trying to integrate with it now can you please share your steps ?

[2017-06-22 15:30] KeithGillette commented on #82
I am afraid that have not gotten a perfect setup with Angular CLI, @krishnapsms, though I do have the basics working for a project which only uses Meteor for a few things.

1. Create an Angular CLI project via `ng new`
2. Install and configure [`meteor-client-bundler`](https://github.com/Urigo/meteor-client-bundler/) (see my configuration in [this Issues thread](https://github.com/Urigo/meteor-cli

[2017-06-22 19:27] LdwgWffnschmdt commented on #92
Hey, I'm trying to get only Facebook login to work, without any account linking and I'm failing completely. Could one of you maybe give me a quick explanation on how to replace the phone authentication step in the tutorial with a simple facebook login that uses the native FB API in Cordova and a fallback in browser? That would be huge.

[2017-06-22 20:39] darkbasic commented on #92
That's exactly what [chapter 17](https://angular-meteor.com/tutorials/whatsapp2/ionic/facebook) up to 17.7 does.

[2017-06-23 04:21] krishnapsms commented on #82
Thanks @KeithGillette I will try and update you with configurations.

[2017-06-23 10:03] LdwgWffnschmdt commented on #92
Yes, I found that too, and I also got it working in the emulator, but could you maybe give me a quick heads up on this whole nginx proxy stuff? That's still a riddle to me.

[2017-06-23 10:25] darkbasic commented on #92
Nginx is only needed for the brower facebook auth, not the cordova one. The problem is that the facebook landing page listens on port 3000 on the server, while the rest of the app runs on a different port (Ionic 8100).

[2017-06-23 13:04] debovema commented on #97
💯 ;)

[2017-06-23 13:10] krishnapsms commented on #82
Hi @KeithGillette Did you face the following issue after setting up everything and try to run ng serve
 `Cannot read property 'length' of undefined
TypeError: Cannot read property 'length' of undefined
    at createSourceFile (E:\..\..\AngMCB\node_modules\typescript\lib\typescript.js:15457:109)`

[2017-06-23 16:09] KeithGillette commented on #82
That error sounds familiar, @krishnapsms, but I don't think it's unique to Angular-Meteor. Rather, I think some entry in your `.angular-cli.json` configuration is referencing a non-existent file or directory.

[2017-06-24 18:45] gotenxds opened #102 "Usins meteor and angular 2 without ionic ??"
Hi, in this tutorial it seems we have to use ionic to use meteor, is there some way not to use it ?

[2017-06-25 09:45] xriu commented on #82
For me is happening with the same error, but if you write a console.log(fileName) inside createSourceFile appears a non-existent file.

Trace
[code]
.angular-cli.json
[code]
tsconfig.json
[code]

[2017-06-26 04:27] santteegt commented on #101
Hi,

I finally solved the issue by developing the server side of my app on a linux machine which is easier to open port 80. Previously, I was testing this on a docker container running on my Macbook Pro where it is not that easy to open port 80.

[2017-06-26 04:27] #101 closed

[2017-06-26 13:55] bitworkz opened #103 "loggin system not working"
when i finish step 7 for user authentication i get the following error:
meteor_1.Meteor.loggingIn is not a function

stack:
TypeError: meteor_1.Meteor.loggingIn is not a function
    at SafeSubscriber._next (http://localhost:8100/build/main.js:205309:29)
    at SafeSubscriber.__tryOrSetError (http://localhost:8100/build/main.js:20091:16)
    at SafeSubscriber.next (http://localhost:8100/build/main

[2017-06-27 08:39] bitworkz commented on #103
it seems to work now.

[2017-06-27 08:39] #103 closed

[2017-06-27 23:15] pkitatta opened #104 "Typescript error: requestPhoneVerification stage 7 of tutorial"
Hi, anyone have a clue on how I can solve this:

Typescript Error
Property 'requestPhoneVerification' does not exist on type 'typeof Accounts'.
C:/Users/Paul/frontend/front2/src/services/phone.ts
 return new Promise<void>((resolve, reject) => {

     Accounts.requestPhoneVerification(phoneNumber, (e: Error) => {

         if (e) {

Typescript Error
Property 'verifyPhone' does not exist on type 'ty

[2017-06-28 02:59] kenpachi-zaraki opened #105 "Runtime Error Package is not defined"
Hi,

I've cloned the repository:
git clone https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp

I've already been through the issue:
https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/70
, but once it has been fixed, I'm now getting the following error when I launch the whatsapp app (http://localhost:8100/):

**Runtime Error
Package is not defined**

Stack
ReferenceError: Package is not defi

[2017-06-28 08:06] #65 closed

[2017-06-28 18:10] jgfet commented on #82
For me it was a missing src/test.ts

[2017-06-28 23:53] pkitatta commented on #63
I solved this by running the meteor server: api>$ meteor

This is not something you will find in the tutorial. For some reason I failed several times when I run: $ npm run api

[2017-07-02 21:16] cbalane commented on #89
@darkbasic, I tried those instructions and the app seems to run, but I can't get past the initial phone number screen. It looks like the browser can't reach "meteor.linuxsystems.it" when I view the console. Is there any other configuration needed for this to work?

[2017-07-03 07:11] aparnapatil01 opened #106 "Broken link"
The link at the top of the **chats page** from tutorial is broken. Please find the screenshot attached here.

![chats_page](https://user-images.githubusercontent.com/10381078/27781721-de9a3b3e-5fec-11e7-9774-10ced8912ac9.png)

[2017-07-04 10:21] airstep commented on #104
For me requestPhoneVerification don't returned any results...

[2017-07-09 17:59] paduchurikowsik commented on #85
Is anyone able solve this. I am getting the same errors even if i clone the github repo and and run it am still having the same issues.

[2017-07-13 03:05] pkitatta opened #108 "addChat method Missing in tutorial"

[2017-07-13 12:14] KevinMarzec commented on #105
I'm getting the same issue - did you ever figure this out?

[2017-07-13 12:15] #108 closed

[2017-07-14 07:19] kenpachi-zaraki commented on #105
Hi,

Cloning the repo and installing the packages and then launching ionic serve won't directly work.

There are several steps throughout the 18 chapters (where for example you need to create symbolic links) that need to be carried out for it to work.

If you start from scratch and you go through all the 18 chapters of the tutorial, it will surely work.

@Urigo , an easier way would be to list all

[2017-07-14 23:26] pkitatta commented on #105
Hi, did you get through step 8? I get this error:

 Type 'Observable<Chat[]>' is not assignable to type 'Observable<Chat[]>'. Two different types with this name
            exist, but they are unrelated. Property 'source' is protected but type 'Observable<T>' is not a class
            derived from 'Observable<T>'.
similar to this:
https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/56

[2017-07-14 23:52] pkitatta commented on #104
Solved it.

I have to say that this was brought about by the ;

Cannot find type definition file for '@types/meteor-accounts-phone'
Cannot find type definition file for '@types/underscore'

-an error that I had failed to get rid of earlier.

Most of the headache came from the tsconfig.json file at the "types" section:
This area:-

"types": [
      "@types/underscore"
    ]

I replaced "types" with

[2017-07-14 23:52] #104 closed

[2017-07-15 00:04] pkitatta commented on #85
@stefanholzapfel You might want to take a look at this solution for your "types" definition problem:
https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/104

[2017-07-15 03:12] pkitatta commented on #56
@wilkovanhoek  thanks for the tip. I am on step 8 of the tutorial and this seems to work. Am yet to run into the other errors as you have pointed out - I don't know which stage you encountered them, but I hope it they are solvable without the 'Observable<User[]>'.

I wish someone could tell us the ramifications of leaving out this 'type'(Observable<User[]>).

[2017-07-16 20:49] kenpachi-zaraki commented on #105
Hi,
Please check your imports.

I did not encounter such problem. Step 8 worked fine for me.

[2017-07-17 19:38] sigalor opened #109 "Error »Cannot find module "api/collections"« after step 4"
Hi,

first, thanks a lot for the amazing tutorial. I am currently trying to follow it, but failed after finishing step 4.
I have created a [repository](https://github.com/sigalor/ionic-meteor-whatsapp-error) one should be able to reproduce the error with.
When I try to run `ionic serve`, the compilation works without any errors.
But right after my browser opens the page, Ionic just says `Runtime E

[2017-07-17 23:03] clariontools commented on #109
First double check your tsconfig.json file in the main folder against the recommended configuration, then do  the same for the tsconfig.json under the api folder.  It is clear that your paths compilerOptions are not setup properly and not resolving the path from api/collections to api/server/collections.  This is certainly a source of confusion but makes for more simple import statements.  However

[2017-07-18 08:38] sigalor commented on #109
Thanks a lot for your fast response, but as you can see [in my main tsconfig.json](https://github.com/sigalor/ionic-meteor-whatsapp-error/blob/master/tsconfig.json#L15), I already had the `paths` compiler option exactly as you told me to have it.
As said in the Typescript reference article about [Module Resolution](https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping),

[2017-07-18 10:28] carlos-olivera opened #110 "Unable to build for production with --prod option"
Hi!

I was unable to build with ionic cli "--prod --release" parameters:

`ionic cordova build ios --prod --release`

I got an error:

`Module not found: Error: Can't resolve 'meteor/meteor'`

Ionic serve works ok, as well if I build in dev. mode.

My configuration:

global packages:

    @ionic/cli-utils : 1.5.0
    Cordova CLI      : 7.0.1
    Ionic CLI        : 3.5.0

local packages:

    @ioni

[2017-07-18 11:02] Ozonix commented on #102
https://angular-meteor.com/tutorials/socially/angular2/bootstrap

[2017-07-18 19:17] carlos-olivera commented on #110
is an iONIC Bug. refer:  https://github.com/ionic-team/ionic-app-scripts/issues/954

[2017-07-18 19:17] #110 closed

[2017-07-18 22:22] clariontools commented on #109
That is about all I can offer on this, but at least now you can see it is an issue with the path resolution.  I did take a quick look at the main root tsconfig.json and noticed that you have the  "meteor-typings", in our compilerOptions "types" you should remove that as it conflicts with the meteor tsconfig.json that is found in your api folder.  Keep the paths option to resolve the api folder in

[2017-07-19 02:24] versteckt commented on #85
Was also having the same issue with types/undesrcore and meteor-typings. Thanks to @pkitatta's comment I figured out that I needed to change "types" to "typeRoots" in tsconfig. Thanks so much!

Anyone happen to have an explanation as to why this needs to be done? I'd like to understand the solution instead of just fixing the bug.

[2017-07-19 04:20] sigalor commented on #109
Alright, I guess... So I think I'm going to have to keep the relative path for now. Hopefully, as I gain experience in the next few weeks/months, eventually I will be able to fix this by myself. But for now, thank you very much again for taking time to look into this.

[2017-07-19 10:41] darkbasic commented on #101
I'm glad to hear that you solved your problem with the Facebook auth!

[2017-07-19 14:42] darkbasic commented on #89
Of course you will have to point it to a domain/ip address which it can resolve and access, because meteor.linuxsystems.it resolves to a local ip address in my home network.

[2017-07-20 09:10] airstep opened #112 "Offline support"
Is it possible to make offline app support?
Which of packages you can suggest to use?

Already read about [this](https://subvisual.co/blog/posts/45-offline-web-apps-with-meteor/), but it is too old maybe for true

[2017-07-20 13:53] airstep opened #113 "Release build failed"
When I try to build app in release mode by command:

`ionic cordova build android --prod --release --profile`

I get this errors:
`
Module not found: Error: Can't resolve 'meteor/meteor' in '/home/user/work/personal/ionic/new/chat/src/app'
resolve 'meteor/meteor' in '/home/user/work/personal/ionic/new/chat/src/app'
  Parsed request is a module
...
Module not found: Error: Can't resolve 'meteor/und

[2017-07-20 14:07] carlos-olivera commented on #113
I had the same problem.

I had to downgrade ionic/app-scripts to version: 1.3.12 and works again.

[2017-07-20 14:12] airstep commented on #113
Thanks for response )

Strange - I have the same version of  ionic/app-scripts as yours..

Can you show your tsconfig.json file? Maybe solution is also in it...

[2017-07-20 14:17] carlos-olivera commented on #113
Sure:
`{
  "compilerOptions": {
    "allowSyntheticDefaultImports": true,
    "declaration": false,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "lib": [
      "dom",
      "es2015"
    ],
    "module": "es2015",
    "moduleResolution": "node",
    "sourceMap": true,
    "target": "es5"
  },
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "node_modules"
  ],

[2017-07-20 14:47] airstep commented on #113
Hmm...

But there is no types specified like in documentation...

`
    "types": [
      "@types/underscore",
      "@types/meteor-accounts-phone",
      "@types/meteor-collection-hooks"
    ]
`

So, without them I ge another batch of errors...

[2017-07-20 15:09] carlos-olivera commented on #113
I am building a modified version of the tutorial, a real time schedule for a fitness app, I use the base, but not phone verification, for example.

[2017-07-21 20:55] pkitatta opened #114 "Can't load resources (connect to meteor) in step 11"
Even after adding meteor-client.config.json the chat doesn't connect to meteor and hence can't get passed the login page.

deviceready has not fired after 5 seconds. cordova.js:1223
Channel not fired: onDOMContentLoaded cordova.js:1216
Angular is running in the development mode. Call enableProdMode() to enable the production mode. vendor.js:3554
Angular is running in the development mode. Call ena

[2017-07-22 20:36] airstep commented on #114
Maybe you need to use ip address of your notebook or server, but not localhost.

[2017-07-27 19:54] airstep commented on #105
In root tsconfig.json I've added:

`
    "paths": {
      "api/*": ["./api/server/*"],
      "rxjs": ["node_modules/rxjs"]
    },
`

this issue bcz of two node_modules folders linked at the server and real on the client

[2017-07-28 10:19] sigalor commented on #114
Right, apparently the problem is that the app still thinks it is running on your local computer. I'd suggest you to do the following:

1. Terminate all running Ionic/Meteor processes, of course.
2. Figure out the local IP address of your computer (run `ipconfig` on Windows CMD or `ifconfig` on Linux). It will probably look something like `192.168.1.103`. In the following, replace this address with

[2017-07-28 10:46] sigalor commented on #109
I finally managed to fix this! It really had to do with Webpack.

After the tutorial introduced Sharp, of course Webpack had to know that it must be executed on the server only. So, as the tutorial said, I added the line `{ sharp: "{}" }` to `webpack.config.js`'s exports. But this just did not work. After I created a syntax error in this js file (first accidentally, then intentionally), I understo

[2017-07-28 10:46] #109 closed

[2017-07-28 10:56] sigalor commented on #113
I had encountered almost exactly the same errors as you and managed to fix them in the following ways:

- `Can't resolve 'meteor/meteor'`: just remove all lines like `import { Meteor } from 'meteor/meteor';`. It seems very unintuitive, but for some reason, it worked for me and the `Meteor` identifier is still accessible like normal.
- `Can't resolve 'meteor/underscore'`: I did not know how to solv

[2017-07-28 12:17] airstep commented on #113
Tnx to **sigalor**!

I just removed all 'meteor/meteor' but then...

I've found that doesn't see such line on build process with --prod flag: `webpack started...`

So, after making downgrade after reading about [this issue](https://github.com/ionic-team/ionic-app-scripts/issues/954) to:  `npm i @ionic/app-scripts@1.3.4`

I have: BUILD SUCCESSFUL

[2017-07-28 19:48] clariontools commented on #109
Thanks for sharing, it does highlight how fragile this entire configuration is.  At least now if something breaks you have more knowledge of things to check.  :1st_place_medal:

[2017-07-29 06:53] airstep commented on #113
Have then problem to run build version with visual code:

`ERROR app-scripts serve unexpectedly failed.settings: undefinedcontext: [object Object]`

[2017-07-29 08:39] sigalor commented on #113
Which command do you use to run the debug build? Btw, a quick Google search showed [this](https://github.com/ionic-team/ionic-app-scripts/issues/1002). Maybe it can help you.

[2017-07-29 08:58] airstep commented on #113
Solved if I run by command: `npm run ionic:serve`

But next question is why client can not connect to server under release version...

[2017-07-29 09:03] sigalor commented on #113
So, again: Which command do you currently use to run the server?

[2017-07-29 17:43] airstep commented on #113
Sorry, my way is little irrelative - tryied to downgrade app-scripts to 1.3.4 then I wish to use latest version. I just hit F5 to 'Serve to the browser (ionic serve)' in visual code - and I can debug client side with latest app-scripts version (2.1.3), but if I use 1.3.4 there is an error [described above](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/113#issuecomment-318809431)

I hav

[2017-07-29 17:55] airstep commented on #113
To build release:

`ionic cordova build android --prod --release --profile`

[2017-07-30 06:30] pkitatta commented on #114
Hi @sigalor, thanks for your response. I have tried your solution but now I get a new error that says 'page not available' and shows ' Not allowed to load local resource: file:///android_asset/webkit/android-weberror.png data:text/html,chro…:12 in the console.
The app still works in the browser.
As regards the development environment everything is as par the tutorial step 11, I have only made chan

[2017-07-30 08:07] sigalor commented on #114
Well, I guess I have to admit that this begins to exceed my current knowledge... Especially because I haven't had this error myself before. I do know that `loadUrlTimeoutValue` really is necessary for Android to tolerate long loading delays.

Maybe another idea of mine could help you nevertheless: I also tried a Cordova build on my Android 5.0.1 device (what's your Android version, by the way?). A

[2017-07-30 08:12] sigalor commented on #113
Hmm... I think I won't be able to help you further for now. I just started learning Ionic/... around two weeks ago, so I didn't try out a lot yet. Especially these production builds are totally new for me. So, I hope that others from this community can help you better. Or, if you still have this error in a few weeks, maybe I will come back and be able to solve it. :)

[2017-07-31 01:47] pkitatta commented on #114
Are you using windows?

[2017-07-31 07:40] sigalor commented on #114
No, Ubuntu 16.04.

[2017-07-31 11:43] pkitatta commented on #114
That explains one of my points I made earlier on; windows is such a pain. For-example the app has been working well on the browser with only this current issue as my pressure point, but just yesterday I got `Cannot find module "meteor/meteor"` out of the blue!

[2017-07-31 12:07] sigalor commented on #114
Well, I switched from Windows to Ubuntu as my main system around three years ago, although I still have another Windows 10 production machine I use for work occasionally. Anyway, of course Linux generally is more developer-friendly, I would rather "blame" Node.js and all of the other JavaScript frameworks (and after all, JavaScript is, or at least should be, platform independent). They are still v

[2017-08-01 13:58] fidelis opened #116 "Meteor is not serving IONIC pages"
I'm at the end of step 8 of the tutorial. I'm trying to run the application, it runs with no errors, but I can't see any of the pages of IONIC.
I'm running under a virtual machina in Cloud 9, so my script in package,json is "api": "cd api && export ROOT_URL=http://$IP:$PORT && meteor run --settings private/settings.json --port $IP:$PORT",
![tela clone whatsapp com erro](https://user-images.githubu

[2017-08-01 15:37] shyne99 opened #117 "Missing step between 16.8 and 16.9 - fcmToken does not exists on type 'Users'"
Hello,

I am currently following this really good tutorial.

But it seems that a step is missing between 16.8 and 16.9. Indeed I figure out myself that we had to edit our model of User in order to add the fcmToken label inside. This is not clearly explained (or at least as explained as all the other steps) inside the tutorial itself.

Hope it will help.

[2017-08-02 03:23] pkitatta commented on #105
O.K. am officially confused; I restarted building the app from scratch and this time I didn't get this error. WHY! I spent days last time trying to come up with a solution until I found that one above. This time I wanted to try the last two but am getting no error at this stage like before.

[2017-08-02 21:03] pkitatta commented on #105
O.K. I initially got a solution on #56 .

 But now am officially confused; I restarted building the app from scratch and this time I didn't get this error. WHY! I spent days last time trying to come up with a solution until I found that one above. This time I wanted to try the last two but am getting no error at this stage like before.

[2017-08-03 15:32] paduchurikowsik opened #118 "Facebook login auto logins with previous details"
hey i was following the tutorials and i implemented the Facebook login, the issue is when i did 'login with fb' it open my in app fb app and i gave permissions to app. Then it logged me in no issues.

Next i logged out of facebook app, i logged out of my app and when i tried logging in back it logs me in with previous account details. i tried removing facebook app and reinstalled my app, still whe

[2017-08-05 10:43] carlos-olivera commented on #113
with the last version of ionic, and only with the solution of @sigalor

My problem solved.

[2017-08-06 10:55] pkitatta commented on #20
Hi, in the new tutorial using the `meteor-client.config.json` with
[code]
and adding ` "meteor-client:bundle": "meteor-client bundle -s api -c meteor-client.config.json" ` to the `package.json` file doesn't help the situation.

The app works well in the browser but gives this error: `GET http://localhost:3000/sockjs/info?cb=l8rjuale0e net::ERR_CONNECTION_REFUSED` as fore-warned in step 11 of the t

[2017-08-07 05:43] pkitatta commented on #113
[code]

[2017-08-12 02:07] paduchurikowsik commented on #101
hello @darkbasic , i am using "mup"  for deploying my sever on ubuntu machine which uses docker. how should i go config the Nginx in this case.

The other thing is meteor application has both client and server code, and a mobile app connecting the server. The problem is that if we the "Nginx" config you gave then wouldn't it bypass the meteor app's client loginwithfacebook ??? if it would how shou

[2017-08-12 10:38] hwonda opened #120 "Runtime Error can't convert undefined to object"
Hello

I have got this project working several time with modifications and all of a sudden out of the blues i get this error: "Runtime Error can't convert undefined to object"

D/<@http://localhost:8100/build/polyfills.js:1:3456
_redefine.js/_module39.exports@http://localhost:8100/build/main.js:110785:31
$export@http://localhost:8100/build/main.js:110574:29
_typed-array.js/_module128.exports@http:

[2017-08-12 23:06] fernandoarevalo opened #121 "Project error on iOS version 10.3.3 and Android version 4.4.4"
Hi everyone

I am doing the tutorial whit the Ionic 3 Version (Last Update: 15.06.2017). After install it on iOS (Iphone 6 version 10.3.3) and Android (Samsung Galaxy S3 version 4.4.4) devices, i am getting **WHITE SCREEN** and these errors.

### iOS - Xcode console
[code]
### Android - Chrome inspect console

[code]

This project  has been tested also on
- Sony Xperia M4 Aqua (Android version 5.0

[2017-08-14 11:13] ganySA opened #123 "Typescript error: Property after does not exist on type collection <Chat> and <User>"
Hi

Not sure why but i am getting the following error (using lastest git clone on repo)

"Property after does not exist on type 'Collection<Chat>'"

[2017-08-15 03:32] lingboz commented on #121
Hi, I also have this issue.

In my browser all things work well however, when I tried both Android Emulator 7.1.1 and 7.0 they generate the same error.

I did not test on Android 5.0 but I will try tomorrow.

Ios simulator in Xcode is not working as well.

The error is very strange because everything worked well on device before.

Just follow this thread if you guys have the same problem

[2017-08-15 08:16] wilkovanhoek commented on #121
Same issue here as well.

Everything is fine on Chrome/Opera and Android 6.0.

 In my case it breaks on Firefox (version 54 - Ubuntu) and CyanogenMod 12.1 (Android 5.1.1). The Android 5.1.1 thing is strange as @fernandoarevalo seems to have no Problem on it, maybe its duet to CyanogenMod.

@lingboz and @fernandoarevalo: could you test if everything works for you on Firefox (regular ionic serve)?

[2017-08-15 12:38] lingboz commented on #121
Hi @wilkovanhoek

I tested on Firefox, the error is the same with simulators (as the following picture).
![image](https://user-images.githubusercontent.com/8528045/29316109-ff33c672-819c-11e7-8d43-dbf1b0c43f29.png)

Moreover I would like to attach my device error inspected by Chrome as follows, I am using Android simulator 7.1.1 from Android studio

![image](https://user-images.githubusercontent.c

[2017-08-15 12:45] hwonda commented on #121
I suspect this issue has to do with Ionic App Script 2.1.3, has anyone tried a lower version? I'm away from my project now so I cannot give do this now.

[2017-08-15 12:46] lingboz commented on #121
Guys do you think there is something wrong with Ionic 3?

I saw this error when I updated to Meteor 1.5.1 but my colleague is also using Meteor always with Meteor's built-in cordova support and his mobile app works very well with no issues.

I also noticed there is some changes between the generated "meteor-client" files from different versions of Meteor.

[2017-08-15 12:47] lingboz commented on #121
@hwanda, I will try downgrade app script to lower versions

[2017-08-15 16:03] pkitatta opened #124 "Uncaught TypeError: Cannot convert undefined or null to object"
![image](https://user-images.githubusercontent.com/17586059/29324140-f6775a1c-8197-11e7-8f4a-146372581a02.png)

The app used to load on android until I got this error which started about 2 weeks ago. I have done everything (including reinstalling my entire environment) but nothing seems to work.

Before testing on android the app works well on firefox, chrome but not explorer. After testing on and

[2017-08-15 16:11] pkitatta commented on #121
Hi, I have the same issue. The interesting thing is that the app was loading about two weeks ago and then one day this error happened. From that day it has persisted. I have tried everything.

[2017-08-15 16:19] fernandoarevalo commented on #121
@wilkovanhoek, I tried to run the ionic serve in the Firefox and it generates the same error. Also, I tested in android simulator  whit 5.0.0 versions  but no working, it seems that works fine in devices whit higher versions to Android 5.0.0

[2017-08-15 16:24] lingboz commented on #121
Hi @pkitatta  @hwonda  @wilkovanhoek  @fernandoarevalo

I had an interesting test.

I had an code archive several weeks ago and I copied the old "meteor-client.js" to my current project. The error disappeared and my code worked on mobile platforms.

I double checked the differences between the two "meteor-client.js" files and I found a lot of differences.

I don't know if it is because I updated M

[2017-08-15 16:28] lingboz commented on #124
#121
Hi I think this issue should be referenced

[2017-08-15 16:29] lingboz commented on #124
#121 **Uncaught TypeError: Cannot convert undefined or null to object**
Hi I think this issue should be referenced

[2017-08-15 16:33] pkitatta commented on #124
Yes. Sorry I could not find a proper title before I opened this.

[2017-08-15 17:00] pkitatta commented on #121
@lingboz I also suspect it could be a meteor issue. It could be the upgrade.

[2017-08-15 17:05] fernandoarevalo commented on #121
Hi @lingboz, i did a test whit meteor-client.js old version in iOS device 10.3.1 version y it works fine. The problem seems is meteor-client.js generated whit the latest meteor version

[2017-08-15 17:10] pkitatta commented on #124
@Urigo @darkbasic  Any help from the grand masters of meteor.

[2017-08-15 17:36] fernandoarevalo commented on #121
@lingboz, I just added generated file by a meteor old version (backup file since february) in node_modules path and tested on the iOS device, I think the problem is when running "meteor client: bundle" that looks for the meteor latest version and not a specific version or the latest meteor-client-bundler module version (current 0.2.1)

[2017-08-15 17:40] lingboz commented on #121
Hi @fernandoarevalo
Hi yes, when you call that script it checks Meteor's update and will run the latest version.

But I guess this might not be the answer we are looking for, because we are going to update it in the long run. Further errors may occur

[2017-08-15 17:52] lingboz commented on #121
@wilkovanhoek  hmm, good to know that 1.5 is working

[2017-08-15 18:29] fernandoarevalo commented on #121
Hi @wilkovanhoek,

* What do you mean "downgrade my Meteor version to 1.5", you refer the global meteor version or project meteor version?
* How do you do to force the generation the meteor-client file with Meteor 1.5 version and not the latest?

[2017-08-16 10:37] wilkovanhoek commented on #121
@fernandoarevalo
- yes, I reinstalled my global Meteor to version 1.5
- I did not force it. I first thought the bundler would just go with the global Meteor version, which it kind of did the first time I bundled it. When bundling a second time it downloaded the new version anyway. Testing it today showed that the bundler only upgrades if the new version of meteor is know. This means you have to ac

[2017-08-16 21:56] pkitatta commented on #124
null:1 GET http://localhost:8100/null 404 (Not Found)
Image (async)
DefaultDomRenderer2.insertBefore @ platform-browser.es5.js:2798
DebugRenderer2.insertBefore @ core.es5.js:13336
execRenderNodeAction @ core.es5.js:9079
visitRenderNode @ core.es5.js:9050
visitSiblingRenderNodes @ core.es5.js:8981
visitRootRenderNodes @ core.es5.js:8965
renderAttachEmbeddedView @ core.es5.js:9779
attachEmbeddedView

[2017-08-17 07:24] alisaidss commented on #123
Hi I have the same problem, did you solve it?

[2017-08-18 08:52] sxxymzy commented on #121
Same issue here, I tried downgrade to version 1.5, another issue "TypeError: Cannot read property 'get' of undefined" pop up so I have to upgrade back to 1.5.1.

[2017-08-18 12:34] blackjack0v0 commented on #124
I got the same issue when i intergret  metoer  in my project .
the problem only show on adroid or firefox 45.0 linux
on firefox 50.0 or chrome latest ,it work perfect without any problem

[2017-08-18 12:39] lingboz commented on #121
Anyone double checked webpack and meteor-client-bundler to see if they have problems?

[2017-08-18 21:06] blackjack0v0 commented on #124
with meteor client 0.2.1   meteor 1.5.1  ionic 3

[2017-08-19 15:04] blackjack0v0 commented on #56
just add this in your package.json
[code]

[2017-08-20 06:46] sxxymzy commented on #121
Hi guys, I've got it working by removing the following two dependencies in meteor-client.js.
`... _require('core-js/modules/es6.typed.uint8-array'); // line 17020 _require('core-js/modules/es6.typed.uint32-array'); // line 17021 ...`
I didn't do much tests to ensure its safety, but I think it might be safe if you don't use TypeArray in code. Hope there will be updates soon.

[2017-08-20 09:58] pkitatta commented on #124
Hi guys, I have an update on the issue. @fernandoarevalo  was right to suspect the bundler.

I have realised it's not a meteor version issue for three reasons:

1. When I was going through my backedup projects I realised that 2 of the working projects I backed up early this month had meteor 1.5.1.

2. Looking at the meteor-client.js file from early this month and the one generated of late there is

[2017-08-20 09:59] pkitatta commented on #121
Hi guys, I have an update on the issue. @fernandoarevalo  was right to suspect the bundler.

I have realised it's not a meteor version issue for three reasons:

1. When I was going through my backedup projects I realised that 2 of the working projects I backed up early this month had meteor 1.5.1.

2. Looking at the meteor-client.js file from early this month and the one generated of late there is

[2017-08-20 09:59] pkitatta commented on #121
Hi guys, I have an update on the issue. @fernandoarevalo  was right to suspect the bundler.

I have realised it's not a meteor version issue for three reasons:

1. When I was going through my backedup projects I realised that 2 of the working projects I backed up early this month had meteor 1.5.1.

2. Looking at the meteor-client.js file from early this month and the one generated of late there is

[2017-08-20 14:06] blackjack0v0 commented on #124
@pkitatta maybe you can try this https://github.com/Urigo/meteor-client-bundler/issues/41#issuecomment-323585625

[2017-08-20 14:11] blackjack0v0 commented on #113
https://github.com/Urigo/meteor-client-bundler/issues/41#issuecomment-323585625

[2017-08-20 14:35] blackjack0v0 commented on #113
seem the --prod method have some problem, but I can't find a way to fix it ,and I find another solution,
you can  try this to help you minimize your app and make it run faster with aot
`import { enableProdMode } from '@angular/core'; enableProdMode(); `to your main.ts
run
`ionic cordova build android --aot --minifyjs --minifycss --optimizejs`
it perform perfect on mobilephone,just 1.4mb, and load

[2017-08-21 03:33] blackjack0v0 opened #125 "var__meteor_runtime_config__ is not defined after build with --prod mode"
var__meteor_runtime_config__ is not defined

after build with prod mode using ionic cli ,I found that while optimizejs was used ,some part of meteor client will be optimieze,or reduce to zero,So anyone have an idea to exclude the meteor client from being optimize?

[2017-08-21 08:19] blackjack0v0 commented on #125
eeee I found another way to fix  this problem
copy optimization.config.js from ionic-script/conig dir
**add  this to package.json**
[code]
**and use**
`ionic cordova build --aot  --minifyjs --minifycss --optimizejs `

**here is my optimize.config.js**

[code]

[2017-08-21 08:19] #125 closed

[2017-08-21 08:20] blackjack0v0 commented on #125
I have test on my mobile phone ,it seem to act like the same as --prod  method

[2017-08-21 10:02] wilkovanhoek commented on #121
Hi everyone,

I finally managed to find some time for this again. I found a working older version of meter-client.js with Meteor 1.5.1 as well on one of my systems. So the Meteor version is not the root cause. Following the solution from @sxxymzy, the issues seem to be deeper in the dependency trees.

Anyhow, version 1.5 fixes it for me right now. I decided to fork the meteor-client-bundler and ad

[2017-08-21 13:48] pkitatta commented on #121
Hi @wilkovanhoek, so does it it mean that the bundler will generate a working client file.

Looking at @sxxynxy solution, I found those same lines in the older client file which has no problem, so are they really the problem?

[2017-08-21 14:20] KASIMACSYS opened #126 "multiple checkbox list in angular4 ionic3"
i need a control, when i clicked on it it has to populate multiple checkboxes. there i can choose multiple checkbox. and also if i click the first checkbox like selectall, it should be checked all the checkboxes. can any one assist me the code in angular4 ionic3 with typescript.

Thanks
Kasim

[2017-08-21 14:45] wilkovanhoek commented on #121
Hi @pkitatta,
it does create a running file for me. I also decided to go back to Meteor 1.5 on the server side, to be sure they are aligned.

I also tried to look into the dependency a bit closer, but could not really find the source.

[2017-08-21 15:19] pkitatta commented on #121
I have versions 1.5 and and 1.5.1 installed on different projects. Bundling with 1.5 was giving me the new problematic file. So are you saying we should reinstall the meteor-client-bundle globally?
Sorry for my slow understanding.

[2017-08-21 16:08] wilkovanhoek commented on #121
As far as I could trace it, meteor-client-bundle will bundle with 1.5.1 no matter what your project release file says. It executes a regular "meteor create" command to create a temporary project. This will use the most recent stable meteor release (currently 1.5.1). That is the reason why I added the possibility to specify the meteor release for the meteor-client-bundler.

To use this, you would h

[2017-08-21 17:58] pkitatta commented on #121
O.K now I get this error:

![image](https://user-images.githubusercontent.com/17586059/29531913-97fc11cc-865f-11e7-96f4-1b335b4586ad.png)

[2017-08-21 18:06] pkitatta commented on #121
![image](https://user-images.githubusercontent.com/17586059/29532172-a647d7a6-8660-11e7-8306-7090577be295.png)

So is this how your meteor-client looks now?

[2017-08-22 09:30] wilkovanhoek commented on #121
My meteor-client looks different. I don't have the 'Disable hot-code-push' lines. It looks like this.

[code]

I don't know, but maybe there is something wrong with the way that meteor-client is included. See ["Package is not defined"](https://github.com/Urigo/meteor-client-bundler/issues/11). Did you use the current master branch of the Tutorial?

[2017-08-22 10:08] pkitatta commented on #121
Yes, that how the original looks like. But when I use your bundler then I get that client file with only 12 lines.
I have gone back to the original for now(0.2.1). Also "Disable hot-code-push' lines" are there in the original(both the working and non working client files), they are usually the last pieces of code.

[2017-08-22 10:39] wilkovanhoek commented on #121
Oh, now I understand. that is the whole meteor-client :-( Well, it's a pity it does not work for you. What is the exact bundle command/output that you have used/got?

[2017-08-22 10:53] pkitatta commented on #121
I followed your instructions above. First the bundler changed to 0.2.2 and then after bundling with the `--release 1.5` flag I got a client file with 12 lines as shown. I did this with meteor version 1.5. I reverted back to 0.2.1 and the rest of the code came back.

[2017-08-23 09:12] wilkovanhoek commented on #121
Hmmm, that's bad. Sorry, but it seems I can't help you there.

[2017-08-23 09:37] blackjack0v0 opened #127 "can't upload a image on mobile phone,Error: File size is too small (min = 1)"
I can't upload a image on mobile phone, it show

[code]
here is my picture service ,is there any problem ? Hope someone  can help me
[code]

[2017-08-23 09:39] blackjack0v0 commented on #127
@darkbasic I follow the tuturiol, But I got this problem

[2017-08-23 15:17] blackjack0v0 commented on #127
**change code below**
[code]
**to**
[code]
**then it work perfect!**  but  I still can't figure out why the original code can't work without enough knowlege.....

[2017-08-23 15:18] #127 closed

[2017-08-24 22:20] badbytes1 opened #128 "Tutorial Problem Chap 8 when npm run api"
Hello i try to follow the tutorial to build the chat but i get stuck when i try to launch the meteor server with npm run api.
Here is the error from the windows shell:
![bug](https://user-images.githubusercontent.com/31258986/29691334-ef0c2e8e-892a-11e7-8e54-a1b9832714db.PNG)
i tried to remake symlink with the bash version for windows.
it seems good.
![bug2](https://user-images.githubusercontent.c

[2017-08-30 18:29] pedrolucasoliva commented on #85
Comment types lines. This works for me:
tsconfig.json
`{
  "compilerOptions": {
    "allowSyntheticDefaultImports": true,
    "baseUrl": ".",
    "declaration": false,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "lib": [
      "dom",
      "es2015"
    ],
    "module": "commonjs",
    "moduleResolution": "node",
    "paths": {
      "api/*": ["./api/server/*"]
    },

[2017-09-01 23:59] carlos-olivera commented on #124
I have the same problem

[2017-09-02 12:54] carlos-olivera commented on #121
Same problem here, only did work with se hack of @sxxymzy

[2017-09-05 03:53] pkitatta commented on #117
Hi @shyne99 . Thank you for this piece of info. My server was crushing because of this.

But just to add clarity to what you are saying; we need to add this line ` fcmToken?: string;` to:

api\server\models.ts

[code]

[2017-09-06 01:17] pkitatta commented on #128
try `meteor`

[2017-09-06 17:49] shyne99 commented on #117
Exactly.

[2017-09-11 12:37] lingboz commented on #121
Hi guys, there is a new release from Meteor.
Meteor has 1.5.2 ready. They claimed they fixed some issues about Node.js V8, and supported Cordova 7.0.
What version of Cordova are you using?

https://blog.meteor.com/announcing-meteor-1-5-2-105b53e0debc
Have you guys tried anything about the new release?

[2017-09-11 12:39] lingboz commented on #124
Hi guys, there is a new release from Meteor.
Meteor has 1.5.2 ready. They claimed they fixed some issues about Node.js V8, and supported Cordova 7.0.
What version of Cordova are you using?

https://blog.meteor.com/announcing-meteor-1-5-2-105b53e0debc
Have you guys tried anything about the new release?

[2017-09-11 12:57] darkbasic commented on #121
Didn't try Meteor 1.5.2, but I rebased the whole tutorial to 1.6.0beta: https://github.com/darkbasic/Ionic2CLI-Meteor-WhatsApp/
You can have a look if you want, but please don't report bugs for 1.6.0beta because I don't plan to support it until it gets released.

[2017-09-11 12:59] darkbasic commented on #124
See https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/121#issuecomment-328520916

[2017-09-11 13:31] lingboz commented on #121
Hi @darkbasic
That is great,
I will definitely try your repo.
I will also try the Meteor 1.5.2.

[2017-09-11 16:07] darkbasic commented on #121
Please note that you will need an unreleased `meteor-client-bundler` in order to use `1.6beta`, because you will have to pass the `--release` parameter:
[code]
You can find the patch in a [PR](https://github.com/Urigo/meteor-client-bundler/pull/42).

[2017-09-11 16:25] pkitatta commented on #124
@lingboz  Good to hear, definitely going to try it out. Also good to see @darkbasic  on these streets, meteor experts are much needed since our current problem. Just wondering if you have witnessed our current problem as you rebased the tutorial -- @darkbasic.

[2017-09-11 16:58] darkbasic commented on #124
I'm sorry but I cannot reproduce your issue. Can you please checkout [this repository](https://github.com/darkbasic/Ionic2CLI-Meteor-WhatsApp/) and the run the following:

Shell 1:
$ git clone https://github.com/darkbasic/Ionic2CLI-Meteor-WhatsApp.git
$ cd Ionic2CLI-Meteor-WhatsApp/
$ npm install
$ npm uninstall sharp
$ cd api; meteor npm install sharp; cd ..
$ npm run api

Shell 2:
$ npm run mete

[2017-09-11 20:52] pugna23 opened #131 "Angular-Meteor "Advanced Tutorial" 404"
Hi!

I found that some Meteor Tutorials (For example: https://www.meteor.com/tutorials/angular/filtering-collections) are referencing to “[Angular-meteor Advanced Tutorial](https://angular-meteor.com/tutorial/step_12)”. This link is broken... I think that it is obsolet…

Do you still have an advanced tutorials section in angular-meteor site?

I opened [this issue](https://github.com/meteor/tutoria

[2017-09-12 06:12] pkitatta commented on #124
Hi @darkbasic, I have delayed to respond because I wanted to carry out some tests. So here is some feedback:

Upgrading to meteor 1.5.2 and meteor-client-bundler 0.3.0 doesn't eliminate the primary error on this thread. The application still works O.K. on browser!

I your solution above you mention something I want to bring to your attention - and is sharp. The `meteor npm install sharp` as oppose

[2017-09-12 09:19] darkbasic commented on #124
Hi, unfortunately Windows can be a terrible environment for doing web development. I did develop on Windows for a while and it was a nightmare.

[2017-09-12 10:37] pkitatta commented on #124
I realised that. Anyway which OS do you use, this could also be a factor? Have you encountered the `cannot find module meteor/meteor` error? I can only know if the new meteor-client-bundler works if I can get passed it.

[2017-09-12 11:40] darkbasic commented on #124
I use Arch Linux. Everything could be a factor, but nonetheless it should work on any OS with the right workarounds. Never got such error, but it means there is an issue with the Meteor bundler.

[2017-09-12 12:07] pkitatta commented on #124
Wow. So is there away we can use ionic and meteor without going through the meteor-client-bundler? Looks like the piece holding the two worlds together. I am really interested in implementing meteor's accounts-base for my ionic app.

[2017-09-12 13:10] darkbasic commented on #128
I hardcoded Linux-compatible scripts into package.json, I didn't take Windows into account. Just run `meteor run --settings private\settings.json` from the API directory. Please change the syntax according to your OS (I think it should use `\` instead of `/`, but I'm not sure). I'm closing, feel free to reopen if the issue persists.

[2017-09-12 13:10] #128 closed

[2017-09-12 13:16] darkbasic commented on #124
If you don't want to use `meteor-client-bundler` you should follow the MeteorCLI tutorial, unfortunately it is quite outdated and it will probably not work.

[2017-09-12 13:18] darkbasic commented on #124
Anyway since you fixed your original uninstalling sharp, I'm going to close. Feel free to reopen if the issue persists.

[2017-09-12 13:34] darkbasic commented on #82
I made a small [AngularCLI+Meteor-client-bundler tutorial](https://github.com/darkbasic/angularcli-meteor) where I ported most of the content from the first 4 chapters of the IonicCLI tutorial. I will leave this open until we will get an angular-cli version of this tutorial.

[2017-09-12 18:21] pkitatta commented on #124
Actually the original issue was about the app failing to work on mobile due to the current meteor-client issue. Sharp and others were just additionals. From my response above I indicated that the problem is not yet solved. I am also keen to see what others who had the same problem have to say.

[2017-09-12 18:32] darkbasic commented on #124
Can you please post the output of **all** the commands mentioned before, including `npm -g list --depth=0`?

[2017-09-12 20:42] pkitatta commented on #124
$ meteor npm install sharp
[code]

$ npm run api
[code]

$ npm run meteor-client:bundle
[code]

npm run ionic:serve
[code]
![image](https://user-images.githubusercontent.com/17586059/30344688-ffb55456-980a-11e7-8f24-652ceddbe9f2.png)
![image](https://user-images.githubusercontent.com/17586059/30344720-1e37d106-980b-11e7-86b0-6a0a3a6bf200.png)
Everything O.K. in all browsers

$ cordova platform add

[2017-09-12 21:06] darkbasic commented on #124
No please repeat the steps cloning the repo with `git clone https://github.com/darkbasic/Ionic2CLI-Meteor-WhatsApp.git`.

Shell 1:
[code]

Shell 2:
[code]

Shell 3 (Android testing):
[code]

Which version of node and npm are you on? If sharp still creates problems you can simply skip `npm uninstall sharp` and `cd api; meteor npm install sharp; cd ..` becuase with node.js 8 and Meteor 1.6 it will w

[2017-09-13 05:49] pkitatta commented on #124
O.K. so following your instructions to the dot:

I cloned the repo

$ npm install

[code]

$ npm uninstall sharp

[code]

I disabled sharp at this moment

$ npm run api
[code]

I removed all the `export ROOT_URL=http://meteor.linuxsystems.it` from the package.json file and manually added the variable to the environment variables (hope this is the legit workaround) - for windows.

re-run
[code]

So

[2017-09-13 09:25] darkbasic commented on #124
Thanks, it seems the tutorial deserves some testing on Windows because I don't get any of your errors.
The `GET http://meteor.linuxsystems.it/sockjs/info?cb=x4ea2cxvp4 net::ERR_CONNECTION_TIMED_OUT` is easy to solve, you just have to either point `meteor.linuxsystems.it` to you local ip into your `hosts` file or into `meteor-client.config.json` and `package.json` (change the ports accordingly).
Un

[2017-09-13 10:11] pkitatta commented on #124
Well I know @lingboz on this thread uses Windows and had the same issue. Am not sure about the others but I inquired the same on #121.

You are right about the connection issue.

This is such a good tutorial damn the bug.

Alternative could you share with me a meteor-client.js file that you generated before july. I can patch it in my project for now as a solution comes along. Using my old file see

[2017-09-13 12:29] darkbasic commented on #124
[meteor-client.zip](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/files/1299384/meteor-client.zip)

This is from the Meteor 1.6 tutorial. Please tell me if it works for you (obviously you will have to use the new Meteor 1.6 tutorial).

[2017-09-13 13:29] KeithGillette commented on #82
Thanks, @darkbasic! Does your ejected Angular CLI project configuration allow use of Atmosphere packages with npm package dependencies in the client?

[2017-09-13 13:42] darkbasic commented on #82
I didn't test anything beyond a basic app, but it should work I think. Please test it and let me know.

[2017-09-13 17:55] lingboz commented on #124
Hi @darkbasic

I really appreciate the endeavored help from you.
We have discussed this issue previously and due to I was very new to both Meteor and Ionic we only reached a temporary solution (I attached the discussion links later ).

I had the same issue with @pkitatta  on **windows** dev environment.

I removed these two lines:
`_require('core-js/modules/es6.typed.uint8-array');
_require('core-

[2017-09-13 22:09] pkitatta commented on #124
@darkbasic thanks I will try installing it in my meteor 1.6 project - but did you generate it before july?

@lingboz, what version of node and npm are you using?

[2017-09-13 22:36] darkbasic commented on #124
@pkitatta no but let's see if generating it from another machine helps.

[2017-09-14 11:00] lingboz commented on #124
@pkitatta

I am using node 6.11.2, and npm 5.3.0
I am using cordova 7.0.1 and Ionic 3.9.2
I am using Meteor 1.5.2

BTW @pkitatta  if you are using cordova-ios 4.4.0 in your package.json, the recent update to 4.5.0 might break your project, so just remove "^" for this package to ensure it is not updated to 4.5.0 until they publish a stable version

[2017-09-14 17:09] jackweinrauch opened #132 "How do I configure the Auth with Facebook?"

[2017-09-14 17:50] shyne99 commented on #92
Hello,
I've read all your comments related to this issue. And their is something that bugs me.

OAuth is supposed to respond to the user adress. I don't quiet understand what nginx is doing in this. I understand that the proxy is here to redirect some of the request to either the client or the server but the servername is never gona be resolve. Nobody know that the connection made to this url are

[2017-09-14 18:54] pkitatta commented on #124
Thanks for the heads up @lingboz .

I just don't know why when I remove those two lines it doesn't work for me! And the problem is that every time I tamper with the meteor-client file I get errors on my next  meteor bundle. I wonder if you have successfully `npm run meteor-client:bundle` after removing the lines.

[2017-09-14 19:19] lingboz commented on #124
Hi @pkitatta

I am testing the project @darkbasic  provided.

I removed all stuff related to "sharp" and removed some code in the server/collections folder to avoid compile time errors.

I then ran the project on Ubuntu 16.04 and ran it on a device using "cordova run android --device".

The project worked with no errors.

@darkbasic uses Meteor 1.6 but I wonder if Meteor 1.5.2 would also work on L

[2017-09-14 19:23] lingboz commented on #124
I will do a clean project from scratch for Meteor 1.5.2 on Ubuntu and see what happens

[2017-09-14 19:49] pkitatta commented on #124
I will also do that.

[2017-09-15 03:34] #132 closed

[2017-09-19 15:24] lingboz commented on #124
Hi guys,

I conducted my tests on **Ubuntu 16.04**.

My dev environment is:

running `npm -g list --depth=0`
![image](https://user-images.githubusercontent.com/8528045/30594019-e6f57e9c-9d22-11e7-8856-e4cf2289b82f.png)

running `meteor --version`
![image](https://user-images.githubusercontent.com/8528045/30594071-14743e80-9d23-11e7-98df-37c2be2e7f26.png)

******************************************

[2017-09-19 17:52] pkitatta commented on #124
Thanks @lingboz for the update.
Question: does `npm run meteor-client:bundle` work after you tamper with the meteor-client.js file? Whereas mine can still work after removing the lines, it gives me `missing scripts: "meteor-client"` . It almost needs me to reinstall meteor- on windows - on ubuntu I `npm run api:reset` which does the trick.
"The interesting thing is, the other two Android devices h

[2017-09-19 17:56] lingboz commented on #124
Hi Android 5.1.1 and Android 7.1.1 works when the two lines present

[2017-09-19 19:03] darkbasic commented on #124
I managed to assembly a faster pc with some spare parts, finally I have enough ram to run an emulator while developing. I comfirm the issue with Android 5.0.x.

[2017-09-20 12:01] lingboz commented on #124
Hi guys,

I found that the two lines of code come from the Meteor package called "**ecmascript-runtime-client**",
And I don't know how to disable it from "meteor-client-bundle".

I tried to only "import" the basic package "meteor-base" in my meteor-client.config.json but it did not work.

**************************************************************************************************************

[2017-09-20 23:27] NicholasHattabaugh commented on #123
Hey i'm having the same problem and wondering if anyone has found a solution, The problem occurred for me after updating the ionic cli and meteor.

[2017-09-21 03:37] NicholasHattabaugh commented on #123
Below are the error messages that i'm getting:

[23:25:34]  typescript: api/server/collections/chats.ts, line: 9
            Property 'remove' does not exist on type 'Collection<Message>'.

       L8:  Chats.collection.after.remove(function (userId, doc) {
       L9:    Messages.collection.remove({ chatId: doc._id });
      L10:  });

[23:25:34]  typescript: api/server/collections/users.ts, line:

[2017-09-21 10:31] pkitatta commented on #124
Hi @lingboz, this is true. I found the culprit package sometime back. The interesting thing is that deleting the lines in the local server I.e. `ecmascript-runtime-client` they are regenerated at runtime. Even when I  deleted them from the global meteor packages they somehow reappeared locally at runtime - I don't know where they were coming from.

[2017-09-21 10:42] pkitatta commented on #124
But isn't it odd that these two lines are present in the old working meteor-client file?! Seriously, testing with Android 4.2.2 was possible with the old file while these two lines were present.

[2017-09-21 16:23] lingboz commented on #124
Hi,

I did a minimum viable version for Ionic2CLI-Meteor-WhatsApp.
I get rid of all new pages, database stuff and packages that are not related to the problem. So it is very easy to test without any compile errors.

https://github.com/lingboz/Ionic2CLI-Meteor-WhatsApp-Minimum-Viable

You can downlowd it and run:

$ git clone https://github.com/lingboz/Ionic2CLI-Meteor-WhatsApp-Minimum-Viable.git
$

[2017-09-21 19:01] darkbasic commented on #124
Maybe it depends on the WebView version? We should try to install a very old WebView package from the 5.1 era on a newer Android device to see what happens.

[2017-09-22 04:51] NicholasHattabaugh commented on #123
I've tried a complete re install of Sierra and completely re built the project and still get the same issue if anyone was able to figure out how to fix this I would greatly appreciate it.

[2017-09-22 12:39] darkbasic commented on #123
Please do the following:

Shell 1:
`$ git clone https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp.git`
`$ cd Ionic2CLI-Meteor-WhatsApp/`
`$ npm install`
`$ npm uninstall sharp`
`$ cd api; meteor npm install sharp; cd ..`
`$ wget https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/files/1324542/ionic2cli-enable_fake_users.patch.txt | patch -p1`
`$ npm run api`

Shell 2:
`$ npm run meteor-client:bun

[2017-10-03 08:17] airstep commented on #121
Any news? Tried with 1.6-rc2 still not load application. And no errors from log in XCode

[2017-10-03 11:05] airstep commented on #121
Testing with 1.6-beta.26 and it also doesn't work.

Using this: `meteor-client bundle -s api --release 1.6-beta.26`

I've got error like on screenshot.
![screenshot](https://user-images.githubusercontent.com/5022948/31122298-e75ffc50-a843-11e7-82ed-5a302154918d.png)

[2017-10-03 11:27] lingboz commented on #121
@airstep  We are still investigating.

[2017-10-03 11:33] airstep commented on #121
I must say that it is work with Simulate iOS in browser. But still doesn't in simulator\emulator\real device.

[2017-10-03 11:50] airstep commented on #124
Sorry, but I don't think this is of WebView version. Bcz I've try to install it on iOS iPhone 6 Emulator and it's still not work.

"I know there is a GoogleService-Info.plist in resources folder but for some reason it is not working. " - it is bcz of incorrect path. If you go to platforms/ios/resource folder from xcode and select  GoogleService-Info.plist you will see one line. I just remove Googl

[2017-10-03 17:01] pkitatta commented on #124
Hi guys, how about if we use crosswalk, do you think it can work? I can't imagine that the app wouldn't work in android<7. I was planning on plugging it into my app and taking it to production. I expect a good number of users to be using android below 7.

[2017-10-04 21:11] airstep commented on #124
@pkitatta
I think crosswalk will multiplies weight of resulted package - it's not good....

[2017-10-07 11:05] airstep commented on #124
Hmmm..... about [webview](https://ionicframework.com/docs/wkwebview/)

[2017-10-11 08:44] panharithleang opened #133 "How do I deploy this to serve? with mup js?"

[2017-10-11 20:18] airstep commented on #124
I don't know maybe it will help. I found old folder with project from august, so for compartion - created a patch with diff of meteor-client.js bundles from august to october.
[meteor-client.zip](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/files/1377042/meteor-client.zip)

[2017-10-12 14:50] airstep commented on #124
So, it works now!

Just when I comment this lines inside generated meteor-client.js:

Tested on iOS emulator 10.3 and real device (iPhone 7).

[2017-10-12 16:32] fchavarri-soltec commented on #123
I still getting the same error even with your git code darkbasic. I just comment the 'remove' code from chats.ts and users.ts
/*chats.ts*/
....
// Messages.collection.remove({ chatId: doc._id });
....

/*users.ts*/
...
// Pictures.collection.remove({ _id: this.previous.profile.pictureId
...

At least I had prompt from Login, but now I can't receive the SMS message, I testing this app from Peru wit

[2017-10-12 17:09] darkbasic commented on #123
Git code from my own branch is in flux right now, becuase right now I'm preparing for the next release of the tutorial, probably the last one before a complete overhaul.

I almost finished reviewing the whole tutorial and I didn't encounter the above mentioned problem.

[2017-10-13 23:34] jayserdny opened #136 "Build error when trying to run in a device with 'ionic cordova android run'"
I followed the latest version of this tutorial to make my own type of app based on this tutorial. The app does run with `ionic serve` command. However, when I try to run in a device, it throws the following error:

`Error: ./api/server/collections/index.ts
Module build failed: Error: ENOENT: no such file or directory, open '/Users/Jayser/Documents/aplicaciones/vendelo-comodo-app/api/server/collect

[2017-10-14 09:51] darkbasic commented on #136
Works for me, so please try the following:

`git clone https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp.git`
`cd Ionic2CLI-Meteor-WhatsApp`
`git checkout 3e2cdba0ef1f7d32eeb582e0c305d5dd6a607875`
Then change your local IP to the one resolved by `meteor.linuxsystems.it` or put `your-ip      meteor.linuxsystems.it` into `/etc/hosts`.
`npm install`
`npm run meteor-client:bundle`
`npm run api` (in o

[2017-10-14 18:50] jayserdny commented on #136
Happens the same happening to me when trying to run in a device. Runing ionic serve works fine. ionic cordova android run fails. Output is the following:

`Error: ./api/server/collections/index.ts
Module build failed: Error: ENOENT: no such file or directory, open '/Users/Jayser/Documents/React/Ionic2CLI-Meteor-WhatsApp/api/server/collections/index.js'
 @ ./src/pages/profile/profile.ts 17:20-46
 @

[2017-10-14 22:07] darkbasic commented on #136
Did you try the exact same procedure I detailed in my previous post?

[2017-10-14 22:49] jayserdny commented on #136
Yes, the same exact procedure you detailed in your post.

[2017-10-15 09:38] darkbasic commented on #136
That's weird... can you please post your `npm -g list --depth=0` along with your node version? OS?

[2017-10-15 09:50] jayserdny commented on #136
For `npm -g list --depth=0` I got the following results:

├── @ionic/app-scripts@3.0.0
├── @ionic/cli-plugin-proxy@1.3.2
├── @shoutem/cli@0.10.1
├── bower@1.8.0
├── cordova@7.1.0
├── create-react-native-app@1.0.0
├── firebase-tools@3.12.0
├── ionic@3.13.0
├── ios-deploy@1.9.1
├── ios-sim@5.0.13
├── meteor-client-bundler@0.3.0
├── node-red@0.16.2
├── npm@5.4.2
├── react-native-cli@2.0.1
├── react-n

[2017-10-15 12:04] darkbasic commented on #136
Does `cordova run android` work for you? This is the command used in the guide and this is the one I tested.

[2017-10-15 18:03] jayserdny commented on #136
This one works. However, it breaks the code because it loads without css. Also by using this command, how can I use the aot compiler and the other flags?

[2017-10-15 20:14] jayserdny commented on #136
In addition, app compiles when I remove any reference to api folder in client side. I think the problem is related to resolution of paths. When webpack process start, it says that cannot find the index.js file in api/server/collections.

[2017-10-15 21:04] darkbasic commented on #136
That's strange, I have no issues with that command and css.

[2017-10-15 21:26] jayserdny commented on #136
Should we reference this issue to ionic-app-scripts repo?

[2017-10-16 09:43] darkbasic commented on #136
Ionic commands used to work I think, but I cannot test every single combination possible every time I update the tutorial, at least not unless we will have tests in place.
You mentioned something about the `api` directory, so probably there is an issue with our alias in `webpack.config.js`: `'api': path.resolve(__dirname, 'api/server')`.

You are free to try, maybe they can help.

Regarding AOT, I

[2017-10-17 10:30] jayserdny commented on #136
I found a solution with using 'ts-loader' to load ts files instead of the one provided by ionic. It now compiles using Ionic CLI.

[2017-10-17 11:45] darkbasic commented on #136
Can you please provide a patch?

[2017-10-17 16:03] jayserdny commented on #136
Before provide a patch I need to solve another problem because my solution breaks the sharp plugin.

[2017-10-18 16:37] dmacasero opened #138 "npm ERR! git submodule"
![image](https://user-images.githubusercontent.com/14083720/31730811-af1e963e-b465-11e7-8211-2275bb9d11ad.png)

[2017-10-18 20:34] darkbasic commented on #138
We don't use submodules at all... Are you doing a fresh checkout or are you trying to update an older version of the repo?

[2017-10-19 01:09] dmacasero commented on #138
Yup I downloaded the repo yesterday to try and test the application before building my own. Then I run ionic serve? Maybe I had skipped some processes?

[2017-10-19 07:39] darkbasic commented on #138
git clone https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp.git
cd Ionic2CLI-Meteor-WhatsApp
npm install
npm run meteor-client:bundle
npm run api
npm run ionic:serve

[2017-10-22 20:15] jayserdny commented on #136
I solved it by explicitly using the tsc command line to generate .js & .js.map files to api folder. However, it generates an error because Meteor will try to load .js and .ts files. To fix this error, you need to create the following file `.meteorignore` with the following content:

[2017-10-29 01:15] IvanLjubicic commented on #121
Hi guys.

Any news regarding this? I encountered the same problem like @airstep showed on the screenshot.

Thanks.

[2017-10-29 09:38] wilkovanhoek commented on #124
Hey everyone,

I tried to dig a little deeper, starting from the solution of commenting the two lines in meteor-client regarding typed arrays. As far as I understand the error, it comes from the core-js module, more specifically, it came up on [version 2.5](https://github.com/zloirock/core-js/tree/v2.5.0), which was released on 6 August. This is very close to the time, when I first encountered the

[2017-10-31 01:36] jakobwilkenson opened #157 "--prod builds fail"
After downloading the current version of the sample app and running npm run build --prod it fails with the below output (just running npm run build works).

    [18:32:00]  ionic-app-scripts 3.0.0
    [18:32:00]  build prod started ...
    [18:32:00]  clean started ...
    [18:32:00]  clean finished in 1 ms
    [18:32:00]  copy started ...
    [18:32:00]  deeplinks started ...
    [18:32:00]  deep

[2017-10-31 09:28] darkbasic commented on #157
Unfortunately the current tutorial has not been tested with AOT, but I'm already working on the new one where AOT will be tested since the beginning.

[2017-10-31 17:31] darkbasic commented on #124
Thanks @wilkovanhoek, I will try to investigate. In the meantime thanks for your workaround.

[2017-10-31 18:12] darkbasic commented on #22
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected .

[2017-10-31 18:12] #22 closed

[2017-10-31 18:12] darkbasic commented on #27
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected .

[2017-10-31 18:12] #27 closed

[2017-10-31 18:13] darkbasic commented on #30
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:13] #30 closed

[2017-10-31 18:14] darkbasic commented on #33
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:14] #33 closed

[2017-10-31 18:14] darkbasic commented on #35
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:14] #35 closed

[2017-10-31 18:14] darkbasic commented on #38
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:14] #38 closed

[2017-10-31 18:16] darkbasic commented on #51
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:16] #51 closed

[2017-10-31 18:16] darkbasic commented on #54
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:16] #54 closed

[2017-10-31 18:18] darkbasic commented on #58
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:18] #58 closed

[2017-10-31 18:18] darkbasic commented on #60
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:18] #60 closed

[2017-10-31 18:20] #63 closed

[2017-10-31 18:21] #64 closed

[2017-10-31 18:23] darkbasic commented on #67
Only `@types/meteor` is used in latest version of the tutorial. I'm closing.

[2017-10-31 18:23] #67 closed

[2017-10-31 18:23] darkbasic commented on #69
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:23] #69 closed

[2017-10-31 18:25] darkbasic commented on #73
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:25] #73 closed

[2017-10-31 18:26] darkbasic commented on #76
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:26] #76 closed

[2017-10-31 18:26] darkbasic commented on #81
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:26] #81 closed

[2017-10-31 18:27] darkbasic commented on #85
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:27] #85 closed

[2017-10-31 18:29] darkbasic commented on #86
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:29] #86 closed

[2017-10-31 18:29] darkbasic commented on #87
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:29] #87 closed

[2017-10-31 18:29] darkbasic commented on #88
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:29] #88 closed

[2017-10-31 18:30] darkbasic commented on #89
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:30] #89 closed

[2017-10-31 18:30] darkbasic commented on #91
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:30] #91 closed

[2017-10-31 18:32] darkbasic commented on #93
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:32] #93 closed

[2017-10-31 18:32] darkbasic commented on #96
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:32] #96 closed

[2017-10-31 18:33] darkbasic commented on #98
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:33] #98 closed

[2017-10-31 18:35] darkbasic commented on #102
https://angular-meteor.com/tutorials/whatsapp2/meteor/setup

[2017-10-31 18:35] #102 closed

[2017-10-31 18:36] darkbasic commented on #105
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 18:36] #105 closed

[2017-10-31 18:37] darkbasic commented on #106
https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/97

[2017-10-31 18:37] #106 closed

[2017-10-31 19:26] darkbasic commented on #114
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 19:26] #114 closed

[2017-10-31 19:26] darkbasic commented on #116
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 19:26] #116 closed

[2017-10-31 19:26] darkbasic commented on #117
Closing due to inactivity and cleanup after tons of new updates.
Feel free to open a new issue if you are still affected.

[2017-10-31 19:30] darkbasic commented on #117
That's the commit: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/commit/5e503110c74614b3134fbdc50196b62da359de9d

The commit is already in the tutorial, but somehow I messed up the template. I'll fix it in the next update. Thanks for reporting.

[2017-10-31 19:33] darkbasic commented on #121
Let's track it here: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/124#issuecomment-331118105

[2017-10-31 19:33] #121 closed

[2017-10-31 19:34] darkbasic commented on #120
Let's track it here: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/124#issuecomment-331118105

[2017-10-31 19:34] #120 closed

[2017-10-31 19:35] darkbasic commented on #123
Can you please tell me exactly how to replicate your issue? Thanks

[2017-10-31 19:36] #126 closed

[2017-10-31 19:38] darkbasic commented on #131
I followed your link and it seems to be fixed thanks to your PR. Thanks.

[2017-10-31 19:38] #131 closed

[2017-10-31 19:41] #138 closed, assigned to nobody

[2017-10-31 19:43] darkbasic commented on #56
Let's track it here: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/113

[2017-10-31 19:43] #56 closed

[2017-10-31 19:43] darkbasic commented on #157
Let's track it here: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/113

[2017-10-31 19:43] #157 closed, assigned to nobody

[2017-10-31 19:46] darkbasic commented on #124
See also https://github.com/meteor/meteor/issues/9024

[2017-10-31 21:28] darkbasic commented on #82
I'm closing since I already made an AngularCLI + Meteor example: https://github.com/darkbasic/angularcli-meteor
I also made another example which uses Ionic 3 with the Angular CLI: https://github.com/darkbasic/angularcli-graphql

I'm also linking the other issue on meteor-client-bundler:
https://github.com/Urigo/meteor-client-bundler/issues/33

[2017-10-31 21:28] #82 closed

[2017-11-06 15:42] darkbasic commented on #113
I had a quick look at this issue, Ionic-CLI simply wants all the imports to be located inside the `src` directory. So to fix the `--prod` build you simply need to move the `api` directory inside the `src` directory.
I just got a working build with `ionic cordova run android --prod`.

[2017-11-06 15:44] darkbasic commented on #136
I cannot reproduce your issue: `ionic cordova run android` works flawlessly for me.

[2017-11-06 15:44] #136 closed

[2017-11-06 16:33] jayserdny commented on #136
@darkbasic did you try using AOT compiler? And prod and release flags?

[2017-11-06 17:42] darkbasic commented on #136
Yes, I did: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/113#issuecomment-342187908

[2017-11-06 18:48] jayserdny commented on #136
@darkbasic Wow, I didn't think about moving this directory to the "src" folder. Now I can get ride of my workaround :) Thanks

[2017-11-06 21:18] airstep commented on #113
@darkbasic Nice to hear that. But can you show how you organize webpack, tsconfig and also symbolic links in api and in root of project?

[2017-11-06 21:30] airstep commented on #113
@darkbasic Thank you!

[2017-11-06 21:32] darkbasic commented on #113
In tsconfig you'll have to change
[code]
with
[code]

In `webpack.config.js` you'll have to change every alias from
[code]
to
[code]

Symbolic links:
[code]

I'm reopening because this bug hasn't still been fixed into the released version of the tuorial, so better keep track of it to help others.

[2017-11-07 10:33] iMMQN commented on #113
hello @darkbasic, issue is persisting after changes;
* Can't resolve `api/collections`
* Field `browser` doesn't contain a valid alias configuration

### as per your suggestion api folder has been moved under src;
![image](https://user-images.githubusercontent.com/12131543/32488917-83059c46-c3d8-11e7-90f5-50f40ec13cd7.png)

### content in src/api now;
[code]

### tsconfig;
[code]

### webpack conf

[2017-11-07 10:47] darkbasic commented on #113
`meteor-client bundle -s api -c meteor-client.config.json` ---> `meteor-client bundle -s src/api -c meteor-client.config.json` and run `npm run meteor-client:bundle`.

Please look carefully at all the `api` occurencies. It's just a path change so if `api` was resolved before it must be resolved now.

[2017-11-07 11:08] marquesgabriel commented on #133
Hello, i've been studying this tutorial for the last days and today i stopped with this same problem. I'll leave a comment here and watch for new messages

[2017-11-07 11:50] airstep commented on #113
@iLGunners I have same issue like you and with last suggestion like @darkbasic - about client bundle

I think it something wrong with webpack alias... maybe:

`    alias: {
      'api': path.resolve(__dirname, './src/api/server')
    }
`

@darkbasic I've rechecked all stuff with 'api' word (can you provide some fork with worked build - to look at differences or just configuration files zipped with

[2017-11-07 12:32] darkbasic commented on #133
You can deploy the server (everything under the `api` directory) like any normal Meteor application, while you can deploy the client like any other Angular application. The next version of the tutorial will include a chapter about deploying.

[2017-11-07 12:56] darkbasic commented on #113
Ok here it is: https://drive.google.com/open?id=1QRo0PQLXYCRG6nc-nO6lECzjya-8oMLk

[2017-11-07 13:03] darkbasic commented on #112
What you want is basically a progressive web app. I'm still unsure, but it's possible that the next version of the tutorial will include a chapter about it.

[2017-11-07 13:56] iMMQN commented on #113
@darkbasic thanks for your response.
- api was not resolved during `ionic cordova build android --prod` before, and still not.
- `npm run meteor-client:bundle` is running properly now after changes to `package.json`
- how can `ionic cordova build android` work not work with `--prod` flag?
- there's also this error, `Field 'browser' doesn't contain a valid alias configuration`, this is also unclear

[2017-11-07 14:24] paduchurikowsik opened #170 "Getting white screen after splash screen in IOS 10.3, working fine on IOS 11"
Hello guys,
I am having an issues with the app on IOS 10.3, the app displays white screen after splash screen not matter how much time went. The app is working fine and good on IOS 11. Don't have any idea on what the issue was. I also tried creating a new ionic meteor app but still having the same issue. I would appreciate if anyone can help me with this, thank you.

cli packages: (/usr/local/lib/

[2017-11-07 14:42] darkbasic commented on #113
@iLGunners I cannot really know how you configured your project and why it doesn't work, I provided a working example and that's the most I can do.

This is the output of `ionic cordova build android --prod` from the example I previously attached:
[code]

Doesn't my example work for you?

[2017-11-07 14:44] airstep commented on #113
@iLGunners try to use archive that @darkbasic sent to us to find differences

release with --prod works for me now in this sample

[2017-11-07 15:11] darkbasic commented on #170
I think this is a duplicate of this bug: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/124

[2017-11-07 15:11] #170 closed, assigned to nobody

[2017-11-07 15:53] iMMQN commented on #113
@airstep, I have compared. @darkbasic, the differences between your example and my project seem to be only `webpack.config.js`, other aspects seem to be similar.
### webpack config differences;
- my `webpack.config.js` does not have separate `devConfig` and `prodConfig`, mine exports only one config
- these 2 imports are extra in your `webpack.config.js`;
[code]
- yours has `optimizedProdLoaders`

[2017-11-07 16:07] airstep commented on #113
@iLGunners yes I see... and move forward to integrate this in more complicated project (bcz sample from @darkbasic has early steps integrated like in tutorial), so for now I have some problem with sharp module:

`Error: ./node_modules/sharp/build/Release/sharp.node
Module parse failed: Unexpected character '' (1:0)
You may need an appropriate loader to handle this file type.
(Source code omitted

[2017-11-07 22:37] airstep commented on #113
Found this fix about sharp issue https://www.bountysource.com/issues/42009721-prod-build-fails

But again same errors to collections....

`Module not found: Error: Can't resolve 'api/collections' in '/home/taras/work/personal/ionic/meetme/src/services'
resolve 'api/collections' in '/home/taras/work/personal/ionic/meetme/src/services'
  Parsed request is a module
`

This is hard to understand for c

[2017-11-07 22:44] jayserdny commented on #133
+1 for the tutorial. I tried to deploy as well but got so many errors.

[2017-11-08 06:00] panharithleang commented on #133
I finally be able to deploy this. Just use [mup](https://github.com/zodern/meteor-up) to deploy the api folder normally as a meteor project.

[2017-11-08 06:10] jayserdny commented on #133
@panharithleang Just wondering, where did you deploy it? I want to deploy mine to Heroku and I don't really know if I can using meteor up

[2017-11-08 06:15] panharithleang commented on #133
@jayserdny I deployed it to a hosting server at digital ocean.

[2017-11-08 08:47] airstep commented on #113
So, I'm stuck with sharp module now. Like in previous description it is server side package. So to separate from client, we use different places for folders structure for client and server - and we can't use one folder for client and server together....

Carrefully readed about sharp [here](https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/blob/master/.tortilla/manuals/views/step13.md) but this i

[2017-11-08 09:36] iMMQN commented on #113
I am trying to create to different webpack configurations like in the example by @darkbasic, but it's not working for me.
- does webpack or ionic need to be told somehow to use different configs for different environments?

My `webpack.config.js` now has;

### export;
[code]

### devConfig;
[code]

### others;
- imports
[code]
- functions
[code]

### errors;
[code]

[2017-11-08 09:39] iMMQN commented on #113
## Project Environment
[code]

[2017-11-08 11:50] darkbasic commented on #113
Regarding sharp the issue the problem is that if you install it using `npm install sharp` it will get compiled using your system node.js version, which may or not be fine depending on your meteor version.
In fact each version of Meteor uses a specific node.js version, so sharp must be compiled against that version.
The tutorial uses Meteor 1.6, which in turn uses node 8, so if you have node 8 inst